
<div class="row" style="background-color: #F5F5F5;padding-left:6%; height: 40px;">
  <div class="ui breadcrumb">
    <a class="section">主页</a>
    <i class="right angle icon divider"></i>
    <a class="section">系统管理</a>
    <i class="right angle icon divider"></i>
    <div class="active section">文件夹管理</div>
  </div>
</div>

<div  class="row" style=" margin-left: 5%; margin-right: 1%; padding-top: 30px;">

  <div *ngIf="tableShow" class="ui fluid container">

    <form class="ui form" *ngIf="tableShow">
      <div class="fields">
        <div class="three wide field">
          <div class="ui icon input">
            <input placeholder="用户名..." type="text" [(ngModel)]="userSearch">
            <i class="search link icon" (click)="filter()"></i>
          </div>
        </div>

        <div class="three wide field">
          <div class="ui  icon input">
            <input placeholder="文件夹名称..." type="text" [(ngModel)]="nameSearch">
            <i class="search link icon" (click)="filter()"></i>
          </div>
        </div>

        <div class="three wide field">
          <div class="ui  icon input">
            <input placeholder="手机号码..." type="text" [(ngModel)]="phoneSearch">
            <i class="search link icon" (click)="filter()"></i>
          </div>
        </div>
        <div class="three wide field">
          <button class="ui teal icon button" (click)="filter()"><i class="search icon"></i>查询</button>
        </div>
      </div>
    </form>
    <table class="ui teal celled table" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10"
           (fpage) = "getPageData($event)">
      <thead>
      <tr>
        <th>         文件夹名称        </th>
        <th>         用户名称          </th>
        <th>          文件类型         </th>
        <th>          用户手机号码     </th>
        <th>          创建时间         </th>
        <!--<th>          详情         </th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of mf.data.data" (click)="clickItem(item)" style="cursor:pointer">
        <td>{{item.fileName}}</td>
        <td>{{item.userName}}</td>
        <td>{{item.fileTpye}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.createTime}}</td>
        <!--<td><i class="paint brush icon"></i></td>-->
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="5">
          <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
        </th>
      </tr>
      </tfoot>
    </table>
    <div class="row" style="padding-bottom: 15px;">

      <div class="ui icon message">
        <i class="inbox icon"></i>
        <div class="content">
          <div class="header">点击每一行可查看该文件夹的文件详情 </div>
        </div>
      </div>

    </div>
  </div>
</div>
