
<div class="row" style="background-color: #F5F5F5;padding-left:6%; height: 40px;">
  <div class="ui breadcrumb">
    <a class="section">主页</a>
    <i class="right angle icon divider"></i>
    <a class="section">系统管理</a>
    <i class="right angle icon divider"></i>
    <div class="active section">用户管理</div>
  </div>
</div>

<div  class="row" style=" margin-left: 5%; margin-right: 1%; padding-top: 30px;;">

  <div *ngIf="tableShow" class="ui fluid container">

    <form class="ui form">
      <div class="fields">
        <div class="three wide field">
          <div class="ui icon input">
            <input placeholder="用户名..." type="text" [(ngModel)]="accountSearch">
            <i class="search link icon" (click)="filter()"></i>
          </div>
        </div>

        <div class="three wide field">
          <div class="ui  icon input">
            <input placeholder="手机号..." type="text" [(ngModel)]="phoneSearch">
            <i class="search link icon" (click)="filter()"></i>
          </div>
        </div>
        <div class="three wide field">
          <button class="ui teal icon button" (click)="filter()"><i class="search icon"></i>查询</button>
        </div>
        <div class="ten wide field">
          <button class="right floated ui teal icon button" (click)="insert()"><i class="plus icon"></i>添加用户</button>
          <button class="right floated ui teal icon button" (click)="deletes()" [disabled]="isdeletes"><i class="plus icon"></i>批量删除</button>
        </div>
      </div>
    </form>

    <table class="ui teal celled table" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="8"
           (fpage) = "getPageData($event)">
      <thead>
      <tr>
        <th></th>
        <th>用户名</th>
        <th>手机号</th>
        <th>邮箱</th>
        <th>状态</th>
        <th>申请时间</th>
        <!--<th>修改时间</th>-->
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of mf.data.data">
        <td><input  type="checkbox" (change)="onDelete($event.target,item)"></td>
        <td>{{item.account}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.email}}</td>
        <td>{{item.status== '1' ? '有效' : '无效'}}</td>
        <td>{{item.createTime}}</td>
        <!--<td>{{item.modifyTime}}</td>-->
        <td style="text-align: center">
          <a (click)="deleteData(item)"><i class="icon remove"></i>删除</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a (click)="updataData(item)"><i class="icon paint brush"></i>修改</a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="7">
          <mfBootstrapPaginator [rowsOnPageSet]="[8,16,24]"></mfBootstrapPaginator>
        </th>
      </tr>
      </tfoot>
    </table>
  </div>

  <!--<addsysuser-box *ngIf="!tableShow"></addsysuser-box>-->
  <form  [ngFormModel]="myForm" class="ui form" style="padding: 5px 20px;" *ngIf="!tableShow" (ngSubmit)="insertOrUpdata()">
    <div class="ui segment" style="padding: 20px 50px;">
      <div class="ui top attached label" style="background-color: lightskyblue">
        <h3 style="color: white;text-align:left" >登录信息</h3>
      </div>
      <div class="field" style="padding-top: 20px;">
        <div class="three fields">
          <div class="field">
            <label>账号  </label>
            <div class="ui left labeled icon input">
              <input  placeholder="账号" type="text" [(ngModel)]="curUser.account" required>
              <div class="ui corner label">
                <i class="icon red asterisk"></i>
              </div>
            </div>
          </div>
          <div class="field" *ngIf="isInsert">
            <label>密码  </label>
            <div class="ui left labeled icon input">
              <input  placeholder="密码" [(ngModel)]="curUser.password" type="text" required>
              <div class="ui corner label">
                <i class="icon red asterisk"></i>
              </div>
            </div>
          </div>
          <div class="field" *ngIf="isInsert">
            <label>确认密码  </label>
            <div class="ui left labeled icon input">
              <input  placeholder="确认密码" [(ngModel)]="secondPSD" type="text" required>
              <div class="ui corner label">
                <i class="icon red asterisk"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment" style="padding: 20px 50px;">
      <div class="ui top attached label" style="background-color: lightskyblue">
        <h3 style="color: white;text-align:left">基本信息</h3>
      </div>
      <div class="field" style="padding-top: 20px;">
        <div class="three fields">
          <!--<div class="field">-->
            <!--<label>手机  </label>-->
            <!--<div class="ui left labeled icon input">-->
              <!--<input placeholder="手机" [(ngModel)]="curUser.phone" type="text" required>-->
              <!--<div class="ui corner label">-->
                <!--<i class="icon red asterisk"></i>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <div class="field" [ngClass]="{error:!mobileControl.valid && mobileControl.dirty}">
            <label>手机号</label>
            <input [(ngFormControl)]="mobileControl" placeholder="手机" [(ngModel)]="curUser.phone"/>
            <span style="color: red;" *ngIf = "!mobileControl.valid && mobileControl.dirty">
              <validation-messages [control]="mobileControl"></validation-messages>
            </span>
          </div>

          <!--<div class="field">-->
            <!--<label>邮箱  </label>-->
            <!--<div class="ui left labeled icon input">-->
              <!--<input  placeholder="邮箱" [(ngModel)]="userBase.email" type="text" required>-->
              <!--<div class="ui corner label">-->
                <!--<i class="icon red asterisk"></i>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <div class="field" [ngClass]="{error:!emailControl.valid && emailControl.dirty}">
            <label>邮箱</label>
            <input [(ngFormControl)]="emailControl" placeholder="邮箱"  [(ngModel)]="userBase.email" />
            <span style="color: red;" *ngIf = "!emailControl.valid && emailControl.dirty">
              <validation-messages [control]="emailControl"></validation-messages>
            </span>
          </div>
          <div class="field">
            <label>性别 </label>
            <select class="ui dropdown" [(ngModel)]="userBase.sex" id="gender">
              <option value="1">男性</option>
              <option value="0">女性</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="three fields">
          <div class="field">
            <label>状态  </label>
            <select class="ui dropdown" [(ngModel)]="curUser.status">
              <option value="1">有效</option>
              <option value="0">无效</option>
            </select>
          </div>
          <div class="field">
            <label>生日  </label>
            <datetime [timepicker]="false"  [datepicker]="{ format:'yyyy-mm-dd', language:'zh-CN'}" [(ngModel)]="userBase.birthday"></datetime>
          </div>
          <div class="field">
            <label>昵称  </label>
            <input  placeholder="昵称" [(ngModel)]="userBase.userName" type="text">
          </div>
        </div>
      </div>
      <div class="field" *ngIf="false">
        <label for="gender">性别 </label>
        <div class="inline fields">
        <div class="field">
          <input type="radio" value="1" name="gender" (change)="radioSelect($event.target)" />男
        </div>
        <div class="field">
          <input type="radio" value="0" name="gender" (change)="radioSelect($event.target)"/>女
        </div>
        </div>
      </div>

      <div class="field" *ngIf="false">
        <label>性别 </label>
        <select multiple="" name="skills" class="ui fluid normal dropdown" id="selected" required ="required" >
                <!--[ngModel]="news.categoryID" (change)="onItemChange($event.target.value)">-->
          <option value="1">男</option>
          <option value="">Skills</option>
          <option value="0">女</option>
        </select>
      </div>

      <div class="field">
        <label>备注  </label>
        <input  placeholder="备注" [(ngModel)]="userBase.remark" type="text">
      </div>
    </div>
    <div class="ui segment" style="padding: 20px 50px;">
      <div class="ui top attached label" style="background-color: lightskyblue">
        <h3 style="color: white;text-align:left" >角色权限</h3>
      </div>
      <div class="field" style="padding-top: 20px;">
        <div  class="three fields" *ngFor="let roles of arrayRole">
          <div class="three field" *ngFor="let role of roles">
            <div>
              <input  type="checkbox" [checked]="role.flag" (change)="onSelect($event.target,role)">
              <label>{{role.roleName}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button *ngIf="isInsert" type="submit" class="ui teal labeled icon submit button" [disabled]="!myForm.valid">保存<i class="checkmark box icon"></i></button>
    <button *ngIf="!isInsert" type="submit" class="ui blue labeled icon submit button" [disabled]="!myForm.valid">更新<i class="check circle outline icon"></i></button>
    <div class="ui brown  labeled icon submit button" tabindex="0" (click)="resetAdmin()" style="text-align: center"><i class="refresh icon"></i>重置</div>
    <div class="ui grey  labeled icon submit button" tabindex="0" (click)="backTo()" style="text-align: center"><i class="reply icon"></i>返回</div>
  </form>
</div>

