/*.button.button-rounded{*/
  /*height: 200px;*/
  /*padding-top: 80px;*/
  /*font-size: 30px;*/
  /*font-weight: bold;*/
  /*font-family: 'Ubuntu', LiSu;*/
  /*color: white;*/
  /*text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 2px;*/

/*}*/
p{
  text-indent : 20px;
  line-height:200%;
}
table tr{
  cursor: pointer;
  cursor: hand;
}
table tr:hover {
  background-color: #f2f2f2;
  color: #fff;
  cursor:hand;
}

@media all and (max-width:765px)
{
  #sidebarLeft{ display:none }
  #sidebarRight{ display:none }

}
