<!-- 左边栏 -->
<div class="col-md-2" id="sidebarLeft" style="position: fixed;top:23%;left:1%;">
  <!-- 步骤 -->
  <div class="ui fluid vertical steps"  *ngIf = "!showList" >
    <div class="step" style="background-color: grey;color: white">
      <i class="info icon"></i>
      <div class="content">
        <div class="title">{{mySteps.stepName}}</div>
      </div>
    </div>
    <div *ngFor ="let st of mySteps.data">
      <div class="step" [ngClass]="st.status">
        <i class="paw icon"></i>
        <div class="content">
          <div class="title"> {{st.stepTitle}}</div>
          <div class="description">{{st.description}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-2"></div>
    <div class="col-md-7">

      <!-- 步骤 -->
      <div class="ui top attached ordered steps"  *ngIf = "!showList">
        <div class="step" [ngClass]="step1">
          <div class="content">
            <div class="title">基本信息</div>
            <div class="description">前置问题和主体名称</div>
          </div>
        </div>
        <div class="step" [ngClass]="step2">
          <div class="content">
            <div class="title">协议内容填写</div>
            <div class="description">协议相关的内容信息</div>
          </div>
        </div>
        <div class="step" [ngClass]="step3">
          <div class="content">
            <div class="title">协议文档生成</div>
            <div class="description">确定生成协议文件</div>
          </div>
        </div>
      </div>
    <!-- 保密协议简介 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"  *ngIf = "showPro">
      <h3>保密协议简介</h3>
      <hr>
      <p>
        在洽谈商业合作、进行投融资安排或着手准备并购时，一方往往需要向另一方披露专属于目标公司或项目安排的信息，
        这些信息往往都是具有商业价值的具体信息，包括目标公司或项目的财务信息、销售数据、客户清单、
        产品和技术方面的参数等，在此情况下，披露方应与接收方签订保密协议，就信息的保管与处理作出约定。
      </p>
      <br><br><br>
      <div class="ui stackable grid">
        <div class="eight wide column">
          <i class="reply icon"></i>
          <a (click)="nav('./TemplateList')">返回文档列表</a>
        </div>
        <div class="eight wide column" style="text-align: right">
          <a class="button button-glow button-border button-rounded button-primary"
             (click)="showPro = !showPro;showQ1 = !showQ1;hisInfo = true;showHistory(0);activeStep(1,2)">开始</a>
        </div>
      </div>
    </div>
    <!-- 前置问题1 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 50px;margin-bottom: 30px;"  *ngIf = "showQ1">
      <div class="ui stackable grid">
        <div class="ten wide column" >
          <h3>贵司是否会向对方披露关于公司或项目的信息？ </h3>
        </div>
        <a class="three wide column" (click)="discloseToB = true;">
          <i class="big checkmark icon" [ngClass]="{green: discloseToB}"></i>是
        </a>
        <a class="three wide column" (click)="discloseToB = false;">
          <i class="big remove icon"  [ngClass]="{red: !discloseToB}"></i>否
        </a>
        <div class="sixteen wide column" ><!-- 分割线 -->
          <div class="ui divider" style="margin-top: -10px;"></div>
        </div>
        <div class="ten wide column" >
          <h3>贵司是否会接收对方披露的信息？ </h3>
        </div>
        <a class="three wide column" (click)="discloseToA = true;">
          <i class="big checkmark icon" [ngClass]="{green: discloseToA}"></i>是
        </a>
        <a class="three wide column" (click)="discloseToA = false;">
          <i class="big remove icon"  [ngClass]="{red: !discloseToA}"></i>否
        </a>
        <div class="sixteen wide column" ><!-- 分割线 -->
          <div class="ui divider" style="margin-top: -10px;"></div>
        </div>
        <div class="ten wide column" >
          <h3>签订协议双方是企业还是自然人？ </h3>
        </div>
        <a class="three wide column" (click)="business = true">
          <i class="large university icon" [ngClass]="{green: business}"></i>企业
        </a>
        <a class="three wide column" (click)="business = false">
          <i class="large male icon" [ngClass]="{green: !business}"></i>自然人
        </a>
        <div class="sixteen wide column" ><!-- 分割线 -->
          <div class="ui divider" style="margin-top: -10px;"></div>
        </div>
        <div class="sixteen wide column" *ngIf="!business" style="margin-top: -20px;">
          <form class="ui form" style="padding:0 10%;">
            <div class="field">
              <label>甲方姓名</label>
              <input name="last-name" placeholder="甲方姓名" type="text" [(ngModel)]="aPersonName" required (click)="getValue('aPersonName')">
            </div>
            <div class="field">
              <label>甲方身份证号/护照号</label>
              <input name="idno" placeholder="身份证号/护照号" type="text" [(ngModel)]="aIdNo" required (click)="getValue('aIdNo')">
            </div>
            <hr>
            <div class="field">
              <label>乙方姓名</label>
              <input name="last-name" placeholder="乙方姓名" type="text" [(ngModel)]="bPersonName" required (click)="getValue('bPersonName')">
            </div>
            <div class="field">
              <label>乙方身份证号/护照号</label>
              <input name="first-name" placeholder="身份证号/护照号" type="text" [(ngModel)]="bIdNo" required (click)="getValue('bIdNo')">
            </div>
          </form>
        </div>
        <div class="sixteen wide column" *ngIf="business" style="margin-top: -20px;">
          <form class="ui form" style="padding:0 10%;">
            <div class="field">
              <label>甲方公司名称</label>
              <input placeholder="甲方公司名称" type="text" [(ngModel)]="aCompanyName" required (click)="getValue('aCompanyName')">
            </div>
            <div class="field">
              <label>乙方公司名称</label>
              <input placeholder="乙方公司名称" type="text" [(ngModel)]="bCompanyName" required (click)="getValue('bCompanyName')">
            </div>
          </form>
        </div>

        <div class="sixteen wide column" ><!-- 分割线 -->
          <span style="color: red;"><i class="large red announcement icon"></i>
            提示：可以通过点击右侧【辅助表单填写栏】的【协议主体信息】，来自动填写甲乙方名称信息。
          </span>
          <div class="ui divider"></div>
        </div>

        <div class="eight wide column"><!-- 按钮 -->
          <i class="reply icon"></i>
          <a (click)="showPro = !showPro;showQ1 = !showQ1;showHistory(-1);activeStep(1,1)">返回上一步</a>
        </div>
        <div class="eight wide column">
          <a class="ui right floated teal button" (click)="conclude();">下一步</a>
        </div>

        </div>
      </div>


    <!-- 总结 5 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"  *ngIf = "showQ5">
      <h3>核对信息是否正确</h3>
      <hr>
      <p style="text-indent : 20px;line-height:200%">
        {{conclusion}}
      </p>
      <br>
      <h3>如果上述信息正确，请输入即将要生成文档的文档名：</h3>
      <hr>
      <div class="ui form">
        <div class="field">
          <label>保密协议名称</label>
          <input  placeholder="保密协议名称" type="text" [(ngModel)]="file.docName" required>
        </div>
      </div>
      <br><br>
      <div class="ui stackable grid">
        <div class="four wide column">
          <i class="reply icon"></i>
          <a (click)="showQ5 = !showQ5;showQ1 = !showQ1;activeStep(1,2);">返回上一步</a>
        </div>
        <div class="right floated four wide column">
          <a class="button button-glow button-border button-rounded button-primary"
             (click)="showQ5 = !showQ5;showQ6 = !showQ6;nextStep1();">是的，继续</a>
          <!-- 完成一个阶段，保存数据库，显示置于session -->
        </div>
      </div>
    </div>

  <!-- 第二阶段 -->
    <!-- 问题6 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"   *ngIf="showQ6">
      <h3>拟议交易和保密信息定义</h3>
      <hr>
      <form class="ui form" style="padding:10px 10%;" (ngSubmit)="oToS();showQ6 = !showQ6;showQ7 = !showQ7;">
        <div class="field">
          <label>请填写拟议交易项目的名称</label>
          <br>
          <input  placeholder="项目名称" type="text" [(ngModel)]="agreement.projectName" required>
        </div>
        <h4 class="ui dividing header"></h4>
        <br>
        <div class="field">
          <label class="ui stackable grid">
            <span class="eight wide column">请选择需要保密的材料（建议全选）</span>
            <a class="three wide column" (click)="selectAll()">
              <i class="edit icon"></i>
              全选
            </a>
            <a class="three wide column" (click)="selectNone()">
              <i class="edit icon"></i>
              全不选
            </a>
          </label>
          <br>
          <div class="ui stackable grid">
              <div class="four wide column" *ngFor = "let c of confinfo">
                <div class="ui checkbox" (click)="c.flag = !c.flag;">
                  <input type="checkbox"  [(ngModel)]="c.flag">
                  <label>{{c.value}}</label>
                </div>
              </div>
          </div>
        </div>
        <br><br>
        <div class="two fields">
          <div class="field">
            <!--<i class="reply icon"></i>-->
            <!--<a (click)="showQ5 = !showQ5;showQ6 = !showQ6;">返回上一步</a>-->
          </div>
          <div class="field">
            <button class="ui teal right floated  button" type="submit">下一步</button>
          </div>
        </div>
      </form>
    </div>
    <!-- 问题7 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"   *ngIf="showQ7">
      <h3>协议期限和保密期限</h3>
      <hr>
      <form class="ui form" style="padding:10px 10%;" (ngSubmit)="showQ7 = !showQ7;showQ8 = !showQ8;showHistory(1);activeStep(2,3)">
        <div class="field">
          <label>自双方签署或盖章之日起算，本协议的有效期为几年？</label>
          <input  placeholder="协议期限" type="number" [(ngModel)]="agreement.contractPeriod" required>
        </div>
        <h4 class="ui dividing header"></h4>
        <div class="field">
          <label>本协议有效期届满日后，接收方还应当承担几年的保密义务？</label>
          <input  placeholder="保密期限" type="number" [(ngModel)]="agreement.secrecy" required>
        </div>
        <br><br>
        <div class="two fields">
          <div class="field">
            <i class="reply icon"></i>
            <a (click)="showQ7 = !showQ7;showQ6 = !showQ6;activeStep(2,1)">返回上一步</a>
          </div>
          <div class="field">
            <button class="ui teal right floated  button" type="submit">下一步</button>
          </div>
        </div>
      </form>
    </div>
    <!-- 问题8 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"   *ngIf="showQ8">
      <h3>甲方和乙方应指派具体联系人负责保密信息的交换事宜并作为接收通信的负责人。</h3>
      <hr>
      <form class="ui form" style="padding:10px 5%;" (ngSubmit)="showQ9 = !showQ9;showQ8 = !showQ8;activeStep(2,4)">
        <div class="two fields">
          <div class="field">
            <label>甲方指定联系人姓名</label>
            <input placeholder="姓名" type="text" [(ngModel)]="agreement.aContactName" required (click)="getValue('agreement.aContactName')">
          </div>
          <div class="field">
            <label>乙方指定联系人姓名</label>
            <input placeholder="姓名" type="text" [(ngModel)]="agreement.bContactName" required (click)="getValue('agreement.bContactName')">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>甲方指定联系人手机号</label>
            <input placeholder="手机号" type="text" [(ngModel)]="agreement.aContactPhone" required (click)="getValue('agreement.aContactPhone')">
          </div>
          <div class="field">
            <label>乙方指定联系人手机号</label>
            <input placeholder="手机号" type="text" [(ngModel)]="agreement.bContactPhone" required (click)="getValue('agreement.bContactPhone')">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>甲方指定联系人邮箱</label>
            <input placeholder="邮箱" type="text" [(ngModel)]="agreement.aContactEmail" required (click)="getValue('agreement.aContactEmail')">
          </div>
          <div class="field">
            <label>乙方指定联系人邮箱</label>
            <input placeholder="邮箱" type="text" [(ngModel)]="agreement.bContactEmail" required (click)="getValue('agreement.bContactEmail')">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>甲方指定联系人传真</label>
            <input placeholder="传真" type="text" [(ngModel)]="agreement.aContactFax" required (click)="getValue('agreement.aContactFax')">
          </div>
          <div class="field">
            <label>乙方指定联系人传真</label>
            <input placeholder="传真" type="text" [(ngModel)]="agreement.bContactFax" required (click)="getValue('agreement.bContactFax')">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>甲方指定联系人地址</label>
            <input placeholder="地址" type="text" [(ngModel)]="agreement.aContactAddress" required (click)="getValue('agreement.aContactAddress')">
          </div>
          <div class="field">
            <label>乙方指定联系人地址</label>
            <input placeholder="地址" type="text" [(ngModel)]="agreement.bContactAddress" required (click)="getValue('agreement.bContactAddress')">
          </div>
        </div>
        <br><br>
        <div class="field" ><!-- 分割线 -->
          <span style="color: red;"><i class="large red announcement icon"></i>
            提示：可以通过点击右侧【辅助表单填写栏】的【协议联系人信息】，来自动填写甲乙方联系人信息。
          </span>
          <div class="ui divider"></div>
        </div>
        <div class="two fields">
          <div class="field">
            <i class="reply icon"></i>
            <a (click)="showQ7 = !showQ7;showQ8 = !showQ8;activeStep(2,2);showHistory(-1);">返回上一步</a>
          </div>
          <div class="field">
            <button class="ui teal right floated  button" type="submit">下一步</button>
          </div>
        </div>
      </form>
    </div>
    <!-- 问题9 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"   *ngIf="showQ9">
      <h3>争议与违约责任</h3>
      <hr>
      <form class="ui form" style="padding:10px 10%;" (ngSubmit)="oToSPerson();showQ10 = !showQ10;showQ9 = !showQ9;showHistory(2);activeStep(2,5)">
        <div class="field">
          <label>争议解决方案：</label>
          <br>
          <div class="ui checkbox" (click)="dispute =!dispute">
            <input type="checkbox" [(ngModel)]="dispute">
            <label>【方案一】
              <p>
                {{disputeVersion1}}
              </p>
            </label>
          </div>
          <div class="ui checkbox" (click)="dispute =!dispute">
            <input type="checkbox" [(ngModel)]="!dispute">
            <label>【方案二】
              <p>
                {{disputeVersion2}}
              </p>
            </label>
          </div>
        </div>
        <h4 class="ui dividing header"></h4>
        <br>
        <div class="field">
          <label class="ui stackable grid">
            <span class="eight wide column">接收方将可能向以下公司人员其披露保密信息：</span>
            <a class="three wide column" (click)="selectAllPerson()">
              <i class="edit icon"></i>
              全选
            </a>
            <a class="three wide column" (click)="selectNonePerson()">
              <i class="edit icon"></i>
              全不选
            </a>
          </label>
          <br>
          <div class="ui stackable grid">
            <div class="four wide column" *ngFor = "let c of confreciever">
              <div class="ui checkbox" (click)="c.flag = !c.flag;">
                <input type="checkbox"  [(ngModel)]="c.flag">
                <label>{{c.value}}</label>
              </div>
            </div>
          </div>
        </div>
        <h4 class="ui dividing header"></h4>
        <br>
        <div class="field">
          <label>违约责任方案：</label>
          <br>
          <div class="ui checkbox" (click)="liability =!liability">
            <input type="checkbox" [(ngModel)]="liability">
            <label>【方案一】
              <p>
                {{libVersion1}}
              </p>
            </label>
          </div>
          <div class="ui checkbox" (click)="liability =!liability">
            <input type="checkbox" [(ngModel)]="!liability">
            <label>【方案二】
              <p>
                {{libVersion2}}
              </p>
            </label>
          </div>
        </div>
        <br><br>
        <div class="two fields">
          <div class="field">
            <i class="reply icon"></i>
            <a (click)="showQ9 = !showQ9;showQ8 = !showQ8;activeStep(2,3)">返回上一步</a>
          </div>
          <div class="field">
            <button class="ui teal right floated  button" type="submit">下一步</button>
          </div>
        </div>
      </form>
    </div>

    <!-- 问题10 -->
    <div class="ui segment" style="min-height: 500px;_height:500px;padding: 30px;margin-bottom: 30px;"  *ngIf="showQ10">
      <h3>请输入双方法定代表人或授权签署人的名字：</h3>
      <hr>
      <form class="ui form" style="padding:10px 10%;" (ngSubmit)="showQ11 = !showQ11;showQ10 = !showQ10;setAttrData()">
        <div class="field">
          <label>甲方法定代表人或授权签署人</label>
          <input placeholder="名字" type="text" [(ngModel)]="agreement.aSiger" required (click)="getValue('agreement.aSiger')">
        </div>
        <div class="field">
          <label>乙方法定代表人或授权签署人</label>
          <input  placeholder="名字" type="text" [(ngModel)]="agreement.bSiger" required (click)="getValue('agreement.bSiger')">
        </div>
        <br><br>
        <div class="field" ><!-- 分割线 -->
          <span style="color: red;"><i class="large red announcement icon"></i>
            提示：可以通过点击右侧【辅助表单填写栏】的【签名信息】，来自动填写甲乙方签名人信息。
          </span>
          <div class="ui divider"></div>
        </div>
        <div class="two fields">
          <div class="field">
            <i class="reply icon"></i>
            <a (click)="showQ9 = !showQ9;showQ10 = !showQ10;showHistory(-1);activeStep(2,4)">返回上一步</a>
          </div>
          <div class="field">
            <button class="ui teal right floated  button" type="submit">确定</button>
          </div>
        </div>
      </form>

    </div>

    <!-- 问题11 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;" *ngIf = "showQ11">
      <h3>协议内容已经填写完毕，请选择对文档的操作？ </h3>
      <hr>
      <br><br>
      <div class="ui four column stackable grid">
        <a class="column" style="font-size: 14px;font-weight: bolder" (click)="createDocument('pdf')">
          <i class="big green download icon"></i>生成文档PDF文件,并下载
        </a>
        <a class="column" style="font-size: 14px;font-weight: bolder" (click)="createDocument('docx')">
          <i class="big green download icon"></i>生成文档WORD文件,并下载
        </a>
        <a class="column" style="font-size: 14px;font-weight: bolder" (click)="createDocument('show')">
          <i class="big green file pdf outline icon"></i>生成文档PDF文件,并浏览
        </a>
        <a class="column" style="font-size: 14px;font-weight: bolder" (click)="finalConclude()">
          <i class="big red print icon"></i>暂时不生成文件，先保存数据
        </a>
      </div>
      <br><br><br>
      <div class="row" style="margin-left:20px; ">
        <i class="reply icon"></i>
        <a (click)="showQ10 = !showQ10;showQ11 = !showQ11;activeStep(2,5)">返回上一步</a>
      </div>
    </div>
    </div>
    <!-- 右边栏 -->

<div class="col-md-3"></div>

<div class="col-md-3" id="sidebarRight" style="position: fixed;top:23%;right:1%;">
  <div class="ui styled fluid accordion" style="padding: 5% 2%;">
    <div class="active title">
      <i class="dropdown icon"></i>
      辅助表单填写
    </div>
    <div class="active content">
      <div class="active title">
        <i class="dropdown icon"></i>
        个人信息
      </div>
      <div class="active content">
        <p *ngIf ="company.companyName"><a (click)="setValue(company.companyName)">公司名称：{{company.companyName}}</a></p>
        <p *ngIf ="user.userName"><a (click)="setValue(user.userName)">个人姓名：{{user.userName}}</a></p>
        <p *ngIf ="user.phone"><a (click)="setValue(user.phone)">个人手机：{{user.phone}}</a></p>
        <p *ngIf ="user.email"><a (click)="setValue(user.email)">个人邮箱：{{user.email}}</a></p>
        <p *ngIf ="user.address"><a (click)="setValue(user.address)">个人地址：{{user.address}}</a></p>
      </div>


      <div class="active title" *ngIf = "hisInfo">
        <i class="dropdown icon"></i>
        过往信息
      </div>
      <div class="active content" *ngIf = "hisInfo">
        <div class="title" [ngClass]="{active: !m1}" (click)="m1 = !m1;" *ngIf = "hisFlag[0]">
          <i class="dropdown icon"></i>
          协议主体
        </div>
        <div class="content" [ngClass]="{active: !m1}" *ngIf = "hisFlag[0]">
          <p><a (click)="isModal = !isModal;getHistory('a')">甲方信息</a></p>
          <p><a (click)="isModal = !isModal;getHistory('b')">乙方信息</a></p>
        </div>
        <div class="title" [ngClass]="{active: !m2}" (click)="m2 = !m2;" *ngIf = "hisFlag[1]">
          <i class="dropdown icon"></i>
          协议联系人
        </div>
        <div class="content" [ngClass]="{active: !m2}" *ngIf = "hisFlag[1]">
          <p><a (click)="isModal = !isModal;getHistory('ac')">甲方联系人</a></p>
          <p><a (click)="isModal = !isModal;getHistory('bc')">乙方联系人</a></p>
        </div>
        <div class="title" [ngClass]="{active: !m3}" (click)="m3 = !m3;" *ngIf = "hisFlag[2]">
          <i class="dropdown icon"></i>
          签名人
        </div>
        <div class="content" [ngClass]="{active: !m3}" *ngIf = "hisFlag[2]">
          <p><a (click)="isModal = !isModal;getHistory('as')">甲方签名人</a></p>
          <p><a (click)="isModal = !isModal;getHistory('bs')">乙方签名人</a></p>
        </div>
      </div>
    </div>
  </div>


</div>

<!-- 制作modal -->
<div class="ui dimmer" [ngClass]="{ active:isModal }" style="position: fixed;top:0;left:0;padding: 10% ;">
  <div class="ui segment" style="padding: 20px;background-color: #F5F5F5;min-height: 500px;_height:500px;">
    <dimmer-box [hs]="history" [flag]="isInfo" (modal)="selectRecord($event)"></dimmer-box>
    <br><br><br>
    <a class="ui teal button" (click)="isModal = !isModal">关闭</a>
  </div>

</div>
