    <!-- 步骤 -->
    <div class="ui top attached ordered steps"  *ngIf = "!showList">
      <div class="step" [ngClass]="step1">
        <div class="content">
          <div class="title">基本信息</div>
          <div class="description">前置问题和主体名称</div>
        </div>
      </div>
      <div class="step" [ngClass]="step2">
        <div class="content">
          <div class="title">协议内容填写</div>
          <div class="description">协议相关的内容信息</div>
        </div>
      </div>
      <div class="step" [ngClass]="step3">
        <div class="content">
          <div class="title">协议文档生成</div>
          <div class="description">确定生成协议文件</div>
        </div>
      </div>
    </div>
    <!-- 保密协议简介 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"  *ngIf = "showPro">
      <h3>保密协议简介</h3>
      <hr>
      <p>
        在洽谈商业合作、进行投融资安排或着手准备并购时，一方往往需要向另一方披露专属于目标公司或项目安排的信息，
        这些信息往往都是具有商业价值的具体信息，包括目标公司或项目的财务信息、销售数据、客户清单、
        产品和技术方面的参数等，在此情况下，披露方应与接收方签订保密协议，就信息的保管与处理作出约定。
      </p>
      <br><br><br>
      <div class="ui stackable grid">
        <div class="eight wide column">
          <i class="reply icon"></i>
          <a (click)="nav('./TemplateList')">返回文档列表</a>
        </div>
        <div class="eight wide column" style="text-align: right">
          <a class="button button-glow button-border button-rounded button-primary"
             (click)="showPro = !showPro;showQ1 = !showQ1">开始</a>
        </div>
      </div>
    </div>
    <!-- 前置问题1 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"  *ngIf = "showQ1">
      <h3>贵司是否会向对方披露关于公司或项目的信息？ </h3>
      <hr>
      <br><br>
      <div class="ui four column stackable grid">
        <div class="column"></div>
        <a class="column" style="font-size: 20px;font-weight: bolder" (click)="showQ2 = !showQ2;showQ1 = !showQ1;discloseToB = true;">
          <i class="big green checkmark icon"></i>是
        </a>
        <a class="column" style="font-size: 20px;font-weight: bolder" (click)="showQ2 = !showQ2;showQ1 = !showQ1;discloseToB = false;">
          <i class="big red remove icon"></i>否
        </a>
        <div class="column"></div>
      </div>
      <br><br><br>
      <div class="row" style="margin-left:20px; ">
        <i class="reply icon"></i>
        <a (click)="showPro = !showPro;showQ1 = !showQ1">返回上一步</a>
      </div>
    </div>
    <!-- 前置问题2 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;" *ngIf ="showQ2">
      <h3>贵司是否会接收对方披露的信息？ </h3>
      <hr>
      <br><br>
      <div class="ui four column stackable grid">
        <div class="column"></div>
        <a class="column" style="font-size: 20px;font-weight: bolder" (click)="showQ2 = !showQ2;showQ3 = !showQ3;discloseToA = true;">
          <i class="big green checkmark icon"></i>是
        </a>
        <a class="column" style="font-size: 20px;font-weight: bolder" (click)="showQ2 = !showQ2;showQ3 = !showQ3;discloseToA = false;">
          <i class="big red remove icon"></i>否
        </a>
        <div class="column"></div>
      </div>
      <br><br><br>
      <div class="row" style="margin-left:20px; ">
        <i class="reply icon"></i>
        <a (click)="showQ2 = !showQ2;showQ1 = !showQ1">返回上一步</a>
      </div>
    </div>
    <!-- 前置问题3 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"  *ngIf = "showQ3">
      <h3>签订协议双方是企业还是自然人？ </h3>
      <hr>
      <br><br>
      <div class="ui four column stackable grid">
        <div class="column"></div>
        <a class="column" style="font-size: 20px;font-weight: bolder" (click)="showQ3 = !showQ3;showQ41 = !showQ41;business = !business">
          <i class="large green university icon"></i>企业
        </a>
        <a class="column" style="font-size: 20px;font-weight: bolder" (click)="showQ3 = !showQ3;showQ4 = !showQ4;">
          <i class="large green male icon"></i>自然人
        </a>
        <div class="column"></div>
      </div>
      <br><br><br>
      <div class="row" style="margin-left:20px; ">
        <i class="reply icon"></i>
        <a (click)="showQ2 = !showQ2;showQ3 = !showQ3">返回上一步</a>
      </div>
    </div>
    <!-- 前置问题4 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"  *ngIf="showQ4">
      <h3>请输入甲乙双方自然人的姓名： </h3>
      <hr>
      <form class="ui form" style="padding:10px 10%;" (ngSubmit)="conclude()">
        <div class="field">
          <label>甲方姓名</label>
          <input name="last-name" placeholder="甲方姓名" type="text" [(ngModel)]="aPersonName" required>
        </div>
        <div class="field">
          <label>甲方身份证号/护照号</label>
          <input name="idno" placeholder="身份证号/护照号" type="text" [(ngModel)]="aIdNo" required>
        </div>
        <hr>
        <div class="field">
          <label>乙方姓名</label>
          <input name="last-name" placeholder="乙方姓名" type="text" [(ngModel)]="bPersonName" required>
        </div>
        <div class="field">
          <label>乙方身份证号/护照号</label>
          <input name="first-name" placeholder="身份证号/护照号" type="text" [(ngModel)]="bIdNo" required>
        </div>
        <br><br>
        <div class="two fields">
          <div class="field">
            <i class="reply icon"></i>
            <a (click)="showPro = !showPro;showQ4 = !showQ4;back();">从头开始填写</a>
          </div>
          <div class="field">
            <button class="ui teal right floated  button" type="submit">确定</button>
          </div>
        </div>
      </form>
    </div>
    <!-- 前置问题4.1 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"  *ngIf="showQ41">
      <h3>请输入双方企业的名称： </h3>
      <hr>
      <form class="ui form" style="padding:10px 10%;" (ngSubmit)="conclude()">
        <div class="field">
          <label>甲方公司名称</label>
          <input name="first-name" placeholder="甲方公司名称" type="text" [(ngModel)]="aCompanyName" required>
        </div>
        <div class="field">
          <label>乙方公司名称</label>
          <input name="first-name" placeholder="乙方公司名称" type="text" [(ngModel)]="bCompanyName" required>
        </div>
        <br><br>
        <div class="two fields">
          <div class="field">
            <i class="reply icon"></i>
            <a (click)="showPro = !showPro;showQ41 = !showQ41;back()">从头开始填写</a>
          </div>
          <div class="field">
            <button class="ui teal right floated  button" type="submit">确定</button>
          </div>
        </div>
      </form>

    </div>
    <!-- 总结 5 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"  *ngIf = "showQ5">
      <h3>核对信息是否正确</h3>
      <hr>
      <p style="text-indent : 20px;line-height:200%">
        {{conclusion}}
      </p>
      <br>
      <h3>如果上述信息正确，请输入即将要生成文档的文档名：</h3>
      <hr>
      <div class="ui form">
        <div class="field">
          <label>保密协议名称</label>
          <input name="first-name" placeholder="保密协议名称" type="text" [(ngModel)]="file.docName" required>
        </div>
      </div>
      <br><br>
      <div class="ui stackable grid">
        <div class="four wide column">
          <i class="reply icon"></i>
          <a (click)="showQ5 = !showQ5;showPro = !showPro;back();">从头开始填写</a>
        </div>
        <div class="right floated four wide column">
          <a class="button button-glow button-border button-rounded button-primary"
             (click)="showQ5 = !showQ5;showQ6 = !showQ6;nextStep1();">是的，继续</a>
          <!-- 完成一个阶段，保存数据库，显示置于session -->
        </div>
      </div>
    </div>

  <!-- 第二阶段 -->
    <!-- 问题6 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"   *ngIf="showQ6">
      <h3>拟议交易和保密信息定义</h3>
      <hr>
      <form class="ui form" style="padding:10px 10%;" (ngSubmit)="oToS();showQ6 = !showQ6;showQ7 = !showQ7;">
        <div class="field">
          <label>请填写拟议交易项目的名称</label>
          <br>
          <input  placeholder="项目名称" type="text" [(ngModel)]="agreement.projectName" required>
        </div>
        <h4 class="ui dividing header"></h4>
        <br>
        <div class="field">
          <label class="ui stackable grid">
            <span class="six wide column">请选择需要保密的材料（建议全选）</span>
            <a class="two wide column" (click)="selectAll()">
              <i class="edit icon"></i>
              全选
            </a>
            <a class="two wide column" (click)="selectNone()">
              <i class="edit icon"></i>
              全不选
            </a>
          </label>
          <br>
          <div class="ui stackable grid">
              <div class="four wide column" *ngFor = "let c of confinfo">
                <div class="ui checkbox" (click)="c.flag = !c.flag;">
                  <input type="checkbox"  [(ngModel)]="c.flag">
                  <label>{{c.value}}</label>
                </div>
              </div>
          </div>
        </div>
        <br><br>
        <div class="two fields">
          <div class="field">
            <!--<i class="reply icon"></i>-->
            <!--<a (click)="showQ5 = !showQ5;showQ6 = !showQ6;">返回上一步</a>-->
          </div>
          <div class="field">
            <button class="ui teal right floated  button" type="submit">下一步</button>
          </div>
        </div>
      </form>
    </div>
    <!-- 问题7 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"   *ngIf="showQ7">
      <h3>协议期限和保密期限</h3>
      <hr>
      <form class="ui form" style="padding:10px 10%;" (ngSubmit)="showQ7 = !showQ7;showQ8 = !showQ8;">
        <div class="field">
          <label>自双方签署或盖章之日起算，本协议的有效期为几年？</label>
          <input  placeholder="协议期限" type="number" [(ngModel)]="agreement.contractPeriod" required>
        </div>
        <h4 class="ui dividing header"></h4>
        <div class="field">
          <label>本协议有效期届满日后，接收方还应当承担几年的保密义务？</label>
          <input  placeholder="保密期限" type="number" [(ngModel)]="agreement.secrecy" required>
        </div>
        <br><br>
        <div class="two fields">
          <div class="field">
            <i class="reply icon"></i>
            <a (click)="showQ7 = !showQ7;showQ6 = !showQ6;">返回上一步</a>
          </div>
          <div class="field">
            <button class="ui teal right floated  button" type="submit">下一步</button>
          </div>
        </div>
      </form>
    </div>
    <!-- 问题8 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"   *ngIf="showQ8">
      <h3>甲方和乙方应指派具体联系人负责保密信息的交换事宜并作为接收通信的负责人。</h3>
      <hr>
      <form class="ui form" style="padding:10px 5%;" (ngSubmit)="showQ9 = !showQ9;showQ8 = !showQ8;">
        <div class="two fields">
          <div class="field">
            <label>甲方指定联系人姓名</label>
            <input placeholder="姓名" type="text" [(ngModel)]="agreement.aContactName" required>
          </div>
          <div class="field">
            <label>乙方指定联系人姓名</label>
            <input placeholder="姓名" type="text" [(ngModel)]="agreement.bContactName" required>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>甲方指定联系人手机号</label>
            <input placeholder="手机号" type="text" [(ngModel)]="agreement.aContactPhone" required>
          </div>
          <div class="field">
            <label>乙方指定联系人手机号</label>
            <input placeholder="手机号" type="text" [(ngModel)]="agreement.bContactPhone" required>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>甲方指定联系人邮箱</label>
            <input placeholder="邮箱" type="text" [(ngModel)]="agreement.aContactEmail" required>
          </div>
          <div class="field">
            <label>乙方指定联系人邮箱</label>
            <input placeholder="邮箱" type="text" [(ngModel)]="agreement.bContactEmail" required>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>甲方指定联系人传真</label>
            <input placeholder="传真" type="text" [(ngModel)]="agreement.aContactFax" required>
          </div>
          <div class="field">
            <label>乙方指定联系人传真</label>
            <input placeholder="传真" type="text" [(ngModel)]="agreement.bContactFax" required>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>甲方指定联系人地址</label>
            <input placeholder="地址" type="text" [(ngModel)]="agreement.aContactAddress" required>
          </div>
          <div class="field">
            <label>乙方指定联系人地址</label>
            <input placeholder="地址" type="text" [(ngModel)]="agreement.bContactAddress" required>
          </div>
        </div>
        <br><br>
        <div class="two fields">
          <div class="field">
            <i class="reply icon"></i>
            <a (click)="showQ7 = !showQ7;showQ8 = !showQ8;">返回上一步</a>
          </div>
          <div class="field">
            <button class="ui teal right floated  button" type="submit">下一步</button>
          </div>
        </div>
      </form>
    </div>
    <!-- 问题9 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"   *ngIf="showQ9">
      <h3>争议与违约责任</h3>
      <hr>
      <form class="ui form" style="padding:10px 10%;" (ngSubmit)="oToSPerson();showQ10 = !showQ10;showQ9 = !showQ9;">
        <div class="field">
          <label>争议解决方案：</label>
          <br>
          <div class="ui checkbox" (click)="dispute =!dispute">
            <input type="checkbox" [(ngModel)]="dispute">
            <label>【方案一】
              <p>
                {{disputeVersion1}}
              </p>
            </label>
          </div>
          <div class="ui checkbox" (click)="dispute =!dispute">
            <input type="checkbox" [(ngModel)]="!dispute">
            <label>【方案二】
              <p>
                {{disputeVersion2}}
              </p>
            </label>
          </div>
        </div>
        <h4 class="ui dividing header"></h4>
        <br>
        <div class="field">
          <label class="ui stackable grid">
            <span class="eight wide column">接收方将可能向以下公司人员其披露保密信息：</span>
            <a class="two wide column" (click)="selectAllPerson()">
              <i class="edit icon"></i>
              全选
            </a>
            <a class="two wide column" (click)="selectNonePerson()">
              <i class="edit icon"></i>
              全不选
            </a>
          </label>
          <br>
          <div class="ui stackable grid">
            <div class="four wide column" *ngFor = "let c of confreciever">
              <div class="ui checkbox" (click)="c.flag = !c.flag;">
                <input type="checkbox"  [(ngModel)]="c.flag">
                <label>{{c.value}}</label>
              </div>
            </div>
          </div>
        </div>
        <h4 class="ui dividing header"></h4>
        <br>
        <div class="field">
          <label>违约责任方案：</label>
          <br>
          <div class="ui checkbox" (click)="liability =!liability">
            <input type="checkbox" [(ngModel)]="liability">
            <label>【方案一】
              <p>
                {{libVersion1}}
              </p>
            </label>
          </div>
          <div class="ui checkbox" (click)="liability =!liability">
            <input type="checkbox" [(ngModel)]="!liability">
            <label>【方案二】
              <p>
                {{libVersion2}}
              </p>
            </label>
          </div>
        </div>
        <br><br>
        <div class="two fields">
          <div class="field">
            <i class="reply icon"></i>
            <a (click)="showQ9 = !showQ9;showQ8 = !showQ8;">返回上一步</a>
          </div>
          <div class="field">
            <button class="ui teal right floated  button" type="submit">下一步</button>
          </div>
        </div>
      </form>
    </div>

    <!-- 问题10 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"  *ngIf="showQ10">
      <h3>请输入双方法定代表人或授权签署人的名字：</h3>
      <hr>
      <form class="ui form" style="padding:10px 10%;" (ngSubmit)="showQ11 = !showQ11;showQ10 = !showQ10;setAttrData()">
        <div class="field">
          <label>甲方法定代表人或授权签署人</label>
          <input placeholder="名字" type="text" [(ngModel)]="agreement.aSiger" required>
        </div>
        <div class="field">
          <label>乙方法定代表人或授权签署人</label>
          <input  placeholder="名字" type="text" [(ngModel)]="agreement.bSiger" required>
        </div>
        <br><br>
        <div class="two fields">
          <div class="field">
            <i class="reply icon"></i>
            <a (click)="showQ9 = !showQ9;showQ10 = !showQ10;">返回上一步</a>
          </div>
          <div class="field">
            <button class="ui teal right floated  button" type="submit">确定</button>
          </div>
        </div>
      </form>

    </div>

    <!-- 问题11 -->
    <div class="ui segment" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;" *ngIf = "showQ11">
      <h3>协议内容已经填写完毕，请选择对文档的操作？ </h3>
      <hr>
      <br><br>
      <div class="ui four column stackable grid">
        <a class="column" style="font-size: 14px;font-weight: bolder" (click)="createDocument('pdf')">
          <i class="big green download icon"></i>生成文档PDF文件,并下载
        </a>
        <a class="column" style="font-size: 14px;font-weight: bolder" (click)="createDocument('docx')">
          <i class="big green download icon"></i>生成文档WORD文件,并下载
        </a>
        <a class="column" style="font-size: 14px;font-weight: bolder" (click)="createDocument('show')">
          <i class="big green file pdf outline icon"></i>生成文档PDF文件,并浏览
        </a>
        <a class="column" style="font-size: 14px;font-weight: bolder" (click)="finalConclude()">
          <i class="big red print icon"></i>暂时不生成文件，先保存数据
        </a>
      </div>
      <br><br><br>
      <div class="row" style="margin-left:20px; ">
        <i class="reply icon"></i>
        <a (click)="showQ10 = !showQ10;showQ11 = !showQ11">返回上一步</a>
      </div>
    </div>

