/*
@media all and  (min-width: 768px) and (max-width:950px)
{
  #navMenu{ display:none }
  #navMenu1{ display:inline-block }
  #navMenu2{ display:none }

}
*/

@media all and (min-width:992px)
{
  #leftMenu{ display:inline-block }
  #navMenu { display:none }
  #navMenu1 { display:inline-block }
}
@media all and (max-width:991px)
{
  #navMenu{ display:inline-block }
  #navMenu1{ display:none }
  #leftMenu{ display:none }

}
h2{
  text-shadow: rgba(0, 0, 0, 0.75) 0.2px 0.2px 0.2px;
  font-family: SimHei;
}
#topMenu .item{
  color: white;
}

#leftMenu{
  margin-top: 55px;
  width: 20%;
}
#leftMenu .item{
  padding: 20px;
}

table th{
  padding-left: 20px;
  color: black;
  font-size: 14px;
  font-weight: bolder;
}

/*.a-upload {*/
  /*padding: 4px 10px;*/
  /*height: 20px;*/
  /*line-height: 20px;*/
  /*position: relative;*/
  /*cursor: pointer;*/
  /*color: #888;*/
  /*background: #fafafa;*/
  /*border: 1px solid #ddd;*/
  /*border-radius: 4px;*/
  /*overflow: hidden;*/
  /*display: inline-block;*/
  /**display: inline;*/
  /**zoom: 1*/
/*}*/

/*.a-upload  input {*/
  /*position: absolute;*/
  /*font-size: 100px;*/
  /*right: 0;*/
  /*top: 0;*/
  /*opacity: 0;*/
  /*filter: alpha(opacity=0);*/
  /*cursor: pointer*/
/*}*/

/*.a-upload:hover {*/
  /*color: #444;*/
  /*background: #eee;*/
  /*border-color: #ccc;*/
  /*text-decoration: none*/
/*}*/

/*.file {*/
  /*position: relative;*/
  /*display: inline-block;*/
  /*background: #D0EEFF;*/
  /*border: 1px solid #99D3F5;*/
  /*border-radius: 4px;*/
  /*padding: 4px 12px;*/
  /*overflow: hidden;*/
  /*color: #1E88C7;*/
  /*text-decoration: none;*/
  /*text-indent: 0;*/
  /*line-height: 20px;*/
/*}*/
/*.file input {*/
  /*position: absolute;*/
  /*font-size: 100px;*/
  /*right: 0;*/
  /*top: 0;*/
  /*opacity: 0;*/
/*}*/
/*.file:hover {*/
  /*background: #AADFFD;*/
  /*border-color: #78C3F3;*/
  /*color: #004974;*/
  /*text-decoration: none;*/
/*}*/
