

<div class="row" style="background-color: #F5F5F5;padding-left: 8%;height: 30px;"> 首页 >> 客户管理</div>

<div class="ui grid">
  <div class="one wide column"></div>
  <div class="three wide column"   style="padding-left: 30px;">

    <div class="row" style="padding-top:20px;" >

      <h2 class="ui header">客户管理中心</h2>
      <hr>
    </div>

    <div class="row" style="padding:10px;">

      <button class="ui labeled icon button"><i class="pause icon"></i> 客户基本资料 </button>
    </div>

    <div class="row" style="padding:10px;">

      <button class="ui labeled icon button"><i class="pause icon"></i> 客户文献管理 </button>
    </div>

    <div class="row" style="padding:10px;">

      <button class="ui labeled icon button"><i class="pause icon"></i> 客户服务律师 </button>
    </div>

    <div class="row" style="padding:10px;">

      <button class="ui labeled icon button"><i class="pause icon"></i> 客户咨询信息 </button>
    </div>

    <div class="row" style="padding:10px;">

      <button class="ui labeled icon button"><i class="pause icon"></i> 客户账户信息 </button>
    </div>

  </div>
  <div class="eleven wide column" style="padding-left: 80px;">

     <div class="row" style="padding-bottom: 15px; padding-top: 10px;">

       <div class="ui teal message">
         <i class="close icon"></i>
         <div class="header">客户资料信息 </div>客户资料的核心价值信息,搜集客户资料是系统维护之根本~~。 </div>

     </div>

     <div class="row" style="padding-bottom: 15px;">

       <div class="ui action input">
         <input type="text" placeholder="客户名称...">
         <button class="ui button"> <i class="search icon"></i>搜索</button>
       </div>

     </div>


    <div class="row" style="padding-bottom: 15px;">

      <table class="ui celled table">
        <thead>
        <tr><th>客户名称</th>
          <th>手机号码</th>
          <th>邮箱编码</th>
        </tr></thead>
        <tbody>
        <tr>
          <td>
            cell
          </td>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
        <tr>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
        <tr>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
        <tr>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
        <tr>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
        <tr>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
        </tbody>
        <tfoot>
        <tr><th colspan="3">
          <div class="ui right floated pagination menu">
            <a class="icon item">
              <i class="left chevron icon"></i>
            </a>
            <a class="item">1</a>
            <a class="item">2</a>
            <a class="item">3</a>
            <a class="item">4</a>
            <a class="icon item">
              <i class="right chevron icon"></i>
            </a>
          </div>
        </th>
        </tr></tfoot>
      </table>

    </div>

    <div class="row" style="padding-bottom: 15px;">

      <div class="ui icon message">
        <i class="inbox icon"></i>
        <div class="content">
          <div class="header">你听说过我们的客户列表吗？ </div>
          <p>每天关注新的客户信息</p>
          <p>每天动态服务客户事项</p>
        </div>
      </div>

    </div>


  </div>
</div>
