

<div class="row" style="background-color: #F5F5F5;padding-left: 8%;height: 30px;"> 首页 >> 用户管理 >> 用户管理中心</div>

<div class="ui grid">
  <div class="one wide column"></div>
  <div class="three wide column"   style="padding-left: 5px;">

    <div class="row" style="padding:5px;">

      <button class="ui labeled icon button"><i class="pause icon"></i> 用户基本资料 </button>
    </div>

    <div class="row" style="padding:10px;">

      <button class="ui labeled icon button"><i class="pause icon"></i> 用户文献管理 </button>
    </div>

    <div class="row" style="padding:10px;">

      <button class="ui labeled icon button"><i class="pause icon"></i> 用户服务律师 </button>
    </div>

    <div class="row" style="padding:10px;">

      <button class="ui labeled icon button"><i class="pause icon"></i> 用户咨询信息 </button>
    </div>

    <div class="row" style="padding:10px;">

      <button class="ui labeled icon button"><i class="pause icon"></i> 用户账户信息 </button>
    </div>

  </div>
  <div class="eleven wide column">

    <div class="row" style="padding-bottom: 15px; padding-top: 10px;">

      <div class="ui teal message">
        <i class="close icon"></i>
        <div class="header">用户资料信息 </div>用户资料的核心价值信息,搜集用户资料是系统维护之根本~~。 </div>

    </div>

    <form class="ui form" *ngIf="tableShow">
      <div class="fields">
        <div class="three wide field">
          <div class="ui icon input">
            <input placeholder="用户名称..." type="text" [(ngModel)]="userSearch">
            <i class="search link icon" (click)="filter()"></i>
          </div>
        </div>
      </div>
    </form>
    <table class="ui teal celled table" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="8"
           (fpage) = "getPageData($event)">
      <thead>
      <tr>
        <th>用户名称</th>
        <th>手机号码</th>
        <th>用户邮箱</th>
        <th>用户地址</th>
        <th>用户状态</th>
        <th>备注信息</th>
        <th>创建时间</th>
      </tr></thead>
      <tbody>
      <tr *ngFor="let item of mf.data.data" (click)="clickItem(item)">
        <td>{{item.userName}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.email}}</td>
        <td>{{item.address}}</td>
        <td>{{item.status}}</td>
        <td>{{item.remark}}</td>
        <td>{{item.createTime}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="7">
          <mfBootstrapPaginator [rowsOnPageSet]="[8,16,24]"></mfBootstrapPaginator>
        </th>
      </tr>
      </tfoot>
    </table>

    <div class="row" style="padding-bottom: 15px;">
      <form  class="ui form" style="padding: 5px 20px;">
        <!--用户会员信息-->
        <div class="ui segment" style="padding: 20px 50px;">
          <div class="ui top attached label" style="background-color: PaleTurquoise">
            <h3 style="color: white;text-align:left" >用户会员信息</h3>
          </div>
          <div class="field" style="padding-top: 20px;">
            <div class="three fields">
              <div class="field">
                <label>会员等级  </label>
                <div class="ui left labeled icon input">
                  <input  type="text" [disabled]="true">
                </div>
              </div>
              <div class="field">
                <label>会员状态  </label>
                <div class="ui left labeled icon input">
                  <input  type="text" [disabled]="true">
                </div>
              </div>
              <div class="field">
                <label>会员描述  </label>
                <div class="ui left labeled icon input">
                  <input  type="text" [disabled]="true">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--用户验证信息-->
        <div class="ui segment" style="padding: 20px 50px;">
          <div class="ui top attached label" style="background-color: PaleTurquoise">
            <h3 style="color: white;text-align:left" >用户验证信息</h3>
          </div>
          <div class="field" style="padding-top: 20px;">
            <div class="three fields">
              <div class="field">
                <label>身份验证  </label>
                <div class="ui left labeled icon input">
                  <input  type="text" [disabled]="true" >
                </div>
              </div>
              <div class="field">
                <label>手机验证  </label>
                <div class="ui left labeled icon input">
                  <input  type="text" [disabled]="true">
                </div>
              </div>
              <div class="field">
                <label>银行卡验证  </label>
                <div class="ui left labeled icon input">
                  <input  type="text" [disabled]="true">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--用户公司信息-->
        <div class="ui segment" style="padding: 20px 50px;">
          <div class="ui top attached label" style="background-color: PaleTurquoise">
            <h3 style="color: white;text-align:left" >用户公司信息</h3>
          </div>
          <div class="field" style="padding-top: 20px;">
            <div class="three fields">
              <div class="field">
                <label>公司名称  </label>
                <div class="ui left labeled icon input">
                  <input  type="text" [(ngModel)]="company.companyName"  [disabled]="true">
                </div>
              </div>
              <div class="field">
                <label>公司规模 </label>
                <div class="ui left labeled icon input">
                  <input  type="text" [(ngModel)]="company.companyScope"  [disabled]="true" >
                </div>
              </div>
              <div class="field">
                <label>公司地址  </label>
                <div class="ui left labeled icon input">
                  <input  type="text" [(ngModel)]="company.companyAddress"  [disabled]="true">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="row" style="padding-bottom: 15px;">
      <div class="ui icon message">
        <i class="inbox icon"></i>
        <div class="content">
          <div class="header">你听说过我们的用户列表吗？ </div>
          <p>每天关注新的用户信息</p>
          <p>每天动态服务用户事项</p>
        </div>
      </div>

    </div>


  </div>
</div>
