.button.button-rounded{
  height: 200px;
  padding-top: 80px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Ubuntu', LiSu;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 2px;

}


table th{
  text-align: center;
}
table td {
  height: 80%;
}

h3{
  font-family: 'Ubuntu', Microsoft YaHei;
  font-size: 20px;
  font-weight: bolder;
  text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 1px;
}
