





































































































































































































































<div class="ui segment" style="min-height: 600px;_height:600px; border: 1px solid grey;padding:50px;background-color:ghostwhite">
  <div class="container-fluid">
    <div class="row" style="height: 70px;padding:0 5px">
      <div class="col-md-3"><h2>我的文件管理</h2></div>
      <div class="col-md-2 col-md-offset-7" style="text-align: right;">
        <a (click)="nav('./Personal')"><i class="large sign in icon"></i>返回个人中心</a>
      </div>
    </div>
  </div>
  <div class="ui stackable relaxed grid" *ngIf = "!openMyFile">
  <!--我的文件夹列表-->
    <div class="sixteen wide column" *ngIf = "!showMyFiles && !showCreateFolder && !showModifyFolder">
      <div class="ui top attached button" style="background-color: lightskyblue;height: 50px;" (click)="showCreateFolder = !showCreateFolder">
        <h3 style="color: white" >我的文件夹 （ 双击此处创建新的文件夹 ）</h3>
      </div>
      <div class="ui bottom attached form segment" style="padding: 10px 50px;">
          <div class="ui relaxed divided list" style="padding: 10px;">
            <div class="item" *ngFor = "let fd of folders" [dragula]='"bag"'>
              <div class="ui grid">
                <div class="one wide column">
                  <a class="ui tiny image" (click)="openFolder(fd)">
                    <img src="assets/images/fileimg.png">
                  </a>
                </div>
                <div class="eight wide column">
                  <div class="content">
                    <div class="folderId" style="display: none">{{fd.id}}</div>
                    <div class="header">{{fd.fileName}}</div>
                    <div class="meta">
                      <span>{{fd.createTime}}</span>
                    </div>
                    <div class="description">
                      <p></p>
                    </div>
                    <!--<div class="extra">-->
                      <!--<a (click)="modifyFolder(fd)">修改</a>   <a (click)="deleteFolder(fd)">删除</a>-->
                    <!--</div>-->
                  </div>
                </div>
                <div class="seven wide column">
                  <a class="ui right floated item" (click)="deleteFolder(fd)">
                    <i class="red remove icon"></i>删除
                  </a>
                  <a class="ui right floated item" (click)="modifyFolder(fd)">
                    <i class="green edit icon"></i>修改
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>


    </div>


  <!--创建文件夹-->
  <div class="sixteen wide column"  *ngIf = "showCreateFolder">
    <div class="ui top attached button" style="background-color: lightskyblue;height: 50px;" (click)="showCreateFolder = !showCreateFolder">
      <h3 style="color: white" >创建文件夹 （ 双击此处返回文件夹列表 ）</h3>
    </div>
    <div class="ui bottom attached form segment" style="padding: 50px 200px;min-height: 200px;_height:200px;">
      <div class="field">
        <div class="ui right labeled left icon input">
          <i class="tags icon"></i>
          <input placeholder="输入文件夹名..." type="text" #fn>
          <a class="ui teal tag label" (click)="create(fn.value)">
            创建
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--修改文件夹-->
  <div class="sixteen wide column"  *ngIf = "showModifyFolder">
    <div class="ui top attached button" style="background-color: lightskyblue;;height: 50px;" (click)="showModifyFolder = !showModifyFolder">
      <h3 style="color: white" >修改文件夹 （ 双击此处返回文件夹列表 ）</h3>
    </div>
    <div class="ui bottom attached form segment" style="padding: 50px 200px;min-height: 300px;_height:300px;">
      <div class="field">
        <div class="ui right labeled left icon input">
          <i class="tags icon"></i>
          <input placeholder="输入文件夹名..." type="text" [(ngModel)]="forModify">
          <a class="ui teal tag label" (click)="modify(forModify)">
            修改
          </a>
        </div>
      </div>
    </div>
  </div>

      <!--点击打开指定的文件夹-->
  <div class="sixteen wide column"  *ngIf = "showMyFiles && !moveTo">
    <div class="ui top attached button" style="background-color: lightskyblue;;height: 50px;" (click)="showMyFiles = !showMyFiles">
      <h3 style="color: white" >文件夹：{{myFolder.fileName}}（ 双击此处返回文件夹列表 ）</h3>
    </div>
      <div class="ui bottom attached segment" style="padding: 10px 50px;min-height: 100px; _height:100px;">
        <div class="folderId" style="display: none">{{myFolder.id}}</div>
        <div class="ui relaxed divided list"  style="padding: 10px;" [dragula]='"bag"'>
          <div class="item"  *ngFor = "let mf of myFiles">
            <div class="ui grid">
              <div class="one wide column">
                <a class="ui mini image">
                  <img src="assets/images/fileimg2.png">
                </a>
              </div>
              <div class="eight wide column">
                <div class="content">
                  <div class="fileId" style="display: none">{{mf.id}}</div>
                  <div class="header">{{mf.docName}}</div>
                  <div class="meta">
                    <span>{{mf.createTime}}</span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                  <!--<div class="extra">-->
                    <!--<a (click)="modifyFile(mf)">修改</a>   <a (click)="deleteFile(mf)">删除</a>-->
                  <!--</div>-->
                </div>
              </div>
              <div class="seven wide column">
                <a class="ui right floated item" (click)="deleteFile(mf)">
                  <i class="red remove icon"></i>删除
                </a>
                <a class="ui right floated item" (click)="modifyFile(mf)">
                  <i class="green edit icon"></i>修改
                </a>
                <a class="ui right floated item" (click)="moveFile(mf);moveTo =!moveTo;">
                  <i class="blue share square icon"></i>移动
                </a>
              </div>
          </div>
          <br>
        </div>

      </div>
    </div>
</div>
    <!-- 文档移动至 -->
    <div class="sixteen wide column" *ngIf = "move || moveTo">
      <div class="ui top attached button" style="background-color: lightskyblue;height: 50px;" (click)="backTo()">
        <h3 style="color: white" >文档名：{{myFile.docName}}，移动至 （ 双击此处返回文件列表 ）</h3>
      </div>
      <div class="ui bottom attached form segment" style="padding: 20px 50px;">
        <div class="ui grid" style="padding: 10px;">
          <div class="four wide column" *ngFor = "let fd of folders">
            <a class="item" (click)="moveToFolder(fd.id)">
              <div class="ui grid">
                <div class="four wide column">
                  <div class="ui tiny image">
                    <img src="assets/images/fileimg.png">
                  </div>
                </div>
                <div class="twelve wide column">
                  <div class="content">
                    <div class="folderId" style="display: none">{{fd.id}}</div>
                    <div class="header">{{fd.fileName}}</div>
                    <div class="meta">
                      <span>{{fd.createTime}}</span>
                    </div>
                    <div class="description">
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  <!-- 未归类文档-->
  <div class="sixteen wide column" *ngIf = "!move">
    <div class="ui top attached button" style="background-color: lightskyblue;height: 50px;" (click)="nav('./NewFile')">
      <h3 style="color: white" >未归类的文件（ 双击此处创建新的文件 ）</h3>
    </div>
    <div class="ui bottom attached form segment" style="padding: 10px 50px;min-height:200px;_height:200px;;">
      <div class="folderId" style="display: none">0</div>
      <div class="ui relaxed divided list" style="padding: 10px;" [dragula]='"bag"'>
          <div class="item"  *ngFor = "let fl of files">
            <div class="ui grid">
              <div class="one wide column">
                <a class="ui mini image" (click)="modifyFile(fl)">
                  <img src="assets/images/fileimg2.png">
                </a>
              </div>
              <div class="eight wide column">
                <div class="content">
                  <div class="fileId" style="display: none">{{fl.id}}</div>
                  <div class="header">{{fl.docName}}</div>
                  <div class="meta">
                    <span>{{fl.createTime}}</span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="seven wide column">
                <a class="ui right floated item" (click)="deleteFile(fl)">
                  <i class="red remove icon"></i>删除
                </a>
                <a class="ui right floated item" (click)="modifyFile(fl)">
                  <i class="green edit icon"></i>修改
                </a>
                <a class="ui right floated item" (click)="moveFile(fl);move=!move;">
                  <i class="blue share square icon"></i>移动
                </a>
              </div>
          </div>
        </div>
        <br>

      </div>
    </div>
  </div>
</div>


  <div class="ui stackable relaxed grid" *ngIf = "openMyFile">
    <!-- 修改文档-->
    <div class="sixteen wide column">
      <div class="ui segment" style="padding: 20px 50px;min-height: 300px;_height:300px; ">
        <a class="ui top attached label" style="background-color: lightskyblue" (click)="openMyFile = !openMyFile" *ngIf = "modifyList">
          <h3 style="color: white" >修改文件{{myFile.docName}} （ 双击此处返回文件夹列表 ）</h3>
        </a>
        <br><br>
        <div class="ui right floated labeled button" tabindex="0" (click)="createDocument('show')">
          <div class="ui green button">
            <i class="file pdf outline icon"></i> PDF
          </div>
          <a class="ui basic green left pointing label">
            生成并浏览
          </a>
        </div>
        <div class="ui right floated labeled button" tabindex="0" (click)="createDocument('pdf')"  style="margin: 0 20px;">
          <div class="ui green button">
            <i class="file pdf outline icon"></i> PDF
          </div>
          <a class="ui basic green left pointing label">
            生成文件
          </a>
        </div>
        <div class="ui right floated labeled button" tabindex="0" (click)="createDocument('docx')">
          <div class="ui blue button">
            <i class="file word outline icon"></i> WORD
          </div>
          <a class="ui basic blue left pointing label">
            生成文件
          </a>
        </div>
        <br><br>
        <!-- 修改文件板块列表 -->
        <div class="ui fluid vertical menu" *ngIf = "modifyList">
          <a class="item"  (click)="showQ = !showQ;modifyList = !modifyList;">
            <h4 class="ui header">协议名称修改</h4>
            <p>点击修改该法律文件的文件名称</p>
          </a>
          <a class="item"  (click)="checkOrg();">
            <h4 class="ui header">协议主体信息</h4>
            <p>点击修改该法律文件甲乙双方的名称或姓名等详细信息</p>
          </a>
          <a class="item" (click)="showQ3 = !showQ3;modifyList = !modifyList">
            <h4 class="ui header">拟议交易和保密信息定义</h4>
            <p>点击修改拟议交易项目名称和保密信息定义列表等</p>
          </a>
          <a class="item" (click)="showQ7 = !showQ7;modifyList = !modifyList">
            <h4 class="ui header">协议期限和保密期限</h4>
            <p>点击修改该协议的协议有效期限和保密期限</p>
          </a>
          <a class="item" (click)="showQ8 = !showQ8;modifyList = !modifyList">
            <h4 class="ui header">指派具体联系人信息修改</h4>
            <p>点击修改甲方和乙方指派具体联系人负责保密信息的交换事宜并作为接收通信的负责人的信息</p>
          </a>
          <a class="item" (click)="showQ9 = !showQ9;modifyList = !modifyList">
            <h4 class="ui header">争议与违约责任</h4>
            <p>点击修改争议与违约责任内容</p>
          </a>
          <a class="item" (click)="showQ10 = !showQ10;modifyList = !modifyList">
            <h4 class="ui header">法定代表人或授权签署人</h4>
            <p>点击修改法定代表人或授权签署人姓名</p>
          </a>
        </div>
        <!--协议名称-->
        <div class="sixteen wide column" *ngIf = "showQ"
             style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;">
          <h3>请输入您要修改的协议名称： </h3>
          <hr>
          <form class="ui form" style="padding:10px 200px;" (ngSubmit)="modifyList = !modifyList;showQ = !showQ;updateFile();updateAgreement()">
            <div class="field">
              <label>保密协议名称</label>
              <input name="first-name" placeholder="保密协议名称" type="text" [(ngModel)]="myFile.docName" required>
            </div>
            <br><br>
            <div class="two fields">
              <div class="field">
                <i class="reply icon"></i>
                <a (click)="modifyList = !modifyList;showQ = !showQ;">返回修改列表</a>
              </div>
              <div class="field">
                <button class="ui teal right floated  button" type="submit">修改</button>
              </div>
            </div>
          </form>
        </div>
        <!--主体1-->
        <div class="sixteen wide column" *ngIf = "showQ1"
             style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;">
          <h3>请输入双方企业的名称： </h3>
          <hr>
          <form class="ui form" style="padding:10px 200px;" (ngSubmit)="modifyList = !modifyList;showQ1 = !showQ1;updateAgreement()">
            <div class="field">
              <label>甲方公司名称</label>
              <input  placeholder="甲方公司名称" type="text" [(ngModel)]="agreement.aName" required>
            </div>
            <div class="field">
              <label>乙方公司名称</label>
              <input  placeholder="乙方公司名称" type="text" [(ngModel)]="agreement.bName" required>
            </div>
            <br><br>
            <div class="two fields">
              <div class="field">
                <i class="reply icon"></i>
                <a (click)="modifyList = !modifyList;showQ1 = !showQ1;">返回修改列表</a>
              </div>
              <div class="field">
                <button class="ui teal right floated  button" type="submit">修改</button>
              </div>
            </div>
          </form>
        </div>
        <!-- 主体 2 -->
        <div class="sixteen wide column" *ngIf = "showQ2"
             style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;">
          <h3>请输入甲乙双方自然人的姓名： </h3>
          <hr>
          <form class="ui form" style="padding:10px 200px;" (ngSubmit)="modifyList = !modifyList;showQ2 = !showQ2;updateAgreement()">
            <div class="field">
              <label>甲方姓名</label>
              <input placeholder="甲方姓名" type="text" [(ngModel)]="agreement.aName" required>
            </div>
            <div class="field">
              <label>甲方身份证号/护照号</label>
              <input name="idno" placeholder="身份证号/护照号" type="text" [(ngModel)]="agreement.aIdNo" required>
            </div>
            <hr>
            <div class="field">
              <label>乙方姓名</label>
              <input name="last-name" placeholder="乙方姓名" type="text" [(ngModel)]="agreement.bName" required>
            </div>
            <div class="field">
              <label>乙方身份证号/护照号</label>
              <input name="first-name" placeholder="身份证号/护照号" type="text" [(ngModel)]="agreement.bIdNo" required>
            </div>
            <br><br>
            <div class="two fields">
              <div class="field">
                <i class="reply icon"></i>
                <a (click)="modifyList = !modifyList;showQ2 = !showQ2">返回修改列表</a>
              </div>
              <div class="field">
                <button class="ui teal right floated  button" type="submit">修改</button>
              </div>
            </div>
          </form>
        </div>

        <!-- 交易描述 -->
        <div class="sixteen wide column" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"   *ngIf="showQ3">
          <h3>拟议交易和保密信息定义</h3>
          <hr>
          <form class="ui form" style="padding:10px 100px;" (ngSubmit)="oToS();showQ3 = !showQ3;modifyList = !modifyList;">
            <div class="field">
              <label>请填写拟议交易项目的名称</label>
              <br>
              <input  placeholder="项目名称" type="text" [(ngModel)]="agreement.projectName" required>
            </div>
            <h4 class="ui dividing header"></h4>
            <br>
            <div class="field">
              <label class="ui grid">
                <span class="six wide column">请选择需要保密的材料（建议全选）</span>
                <a class="two wide column" (click)="selectAll()">
                  <i class="edit icon"></i>
                  全选
                </a>
                <a class="two wide column" (click)="selectNone()">
                  <i class="edit icon"></i>
                  全不选
                </a>
              </label>
              <br>
              <div class="ui grid">
                <div class="four wide column" *ngFor = "let c of confinfo">
                  <div class="ui checkbox" (click)="c.flag = !c.flag;">
                    <input type="checkbox"  [(ngModel)]="c.flag">
                    <label>{{c.value}}</label>
                  </div>
                </div>
              </div>
            </div>
            <br><br>
            <div class="two fields">
              <div class="field">
                <i class="reply icon"></i>
                <a (click)="modifyList = !modifyList;showQ3 = !showQ3">返回修改列表</a>
              </div>
              <div class="field">
                <button class="ui teal right floated  button" type="submit">修改</button>
              </div>
            </div>
          </form>
        </div>


        <!-- 问题7 -->
        <div class="sixteen wide column" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"   *ngIf="showQ7">
          <h3>协议期限和保密期限</h3>
          <hr>
          <form class="ui form" style="padding:10px 200px;" (ngSubmit)="updateAgreement();showQ7 = !showQ7;modifyList = !modifyList;">
            <div class="field">
              <label>自双方签署或盖章之日起算，本协议的有效期为几年？</label>
              <input  placeholder="协议期限" type="number" [(ngModel)]="agreement.contractPeriod" required>
            </div>
            <h4 class="ui dividing header"></h4>
            <div class="field">
              <label>本协议有效期届满日后，接收方还应当承担几年的保密义务？</label>
              <input  placeholder="保密期限" type="number" [(ngModel)]="agreement.secrecy" required>
            </div>
            <br><br>
            <div class="two fields">
              <div class="field">
                <i class="reply icon"></i>
                <a (click)="modifyList = !modifyList;showQ7 = !showQ7">返回修改列表</a>
              </div>
              <div class="field">
                <button class="ui teal right floated  button" type="submit">修改</button>
              </div>
            </div>
          </form>
        </div>
        <!-- 问题8 -->
        <div class="sixteen wide column" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"   *ngIf="showQ8">
          <h3>甲方和乙方应指派具体联系人负责保密信息的交换事宜并作为接收通信的负责人。</h3>
          <hr>
          <form class="ui form" style="padding:10px 100px;" (ngSubmit)="updateAgreement();modifyList = !modifyList;showQ8 = !showQ8;">
            <div class="two fields">
              <div class="field">
                <label>甲方指定联系人姓名</label>
                <input placeholder="姓名" type="text" [(ngModel)]="agreement.aContactName" required>
              </div>
              <div class="field">
                <label>乙方指定联系人姓名</label>
                <input placeholder="姓名" type="text" [(ngModel)]="agreement.bContactName" required>
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                <label>甲方指定联系人手机号</label>
                <input placeholder="手机号" type="text" [(ngModel)]="agreement.aContactPhone" required>
              </div>
              <div class="field">
                <label>乙方指定联系人手机号</label>
                <input placeholder="手机号" type="text" [(ngModel)]="agreement.bContactPhone" required>
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                <label>甲方指定联系人邮箱</label>
                <input placeholder="邮箱" type="text" [(ngModel)]="agreement.aContactEmail" required>
              </div>
              <div class="field">
                <label>乙方指定联系人邮箱</label>
                <input placeholder="邮箱" type="text" [(ngModel)]="agreement.bContactEmail" required>
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                <label>甲方指定联系人传真</label>
                <input placeholder="传真" type="text" [(ngModel)]="agreement.aContactFax" required>
              </div>
              <div class="field">
                <label>乙方指定联系人传真</label>
                <input placeholder="传真" type="text" [(ngModel)]="agreement.bContactFax" required>
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                <label>甲方指定联系人地址</label>
                <input placeholder="地址" type="text" [(ngModel)]="agreement.aContactAddress" required>
              </div>
              <div class="field">
                <label>乙方指定联系人地址</label>
                <input placeholder="地址" type="text" [(ngModel)]="agreement.bContactAddress" required>
              </div>
            </div>
            <br><br>
            <div class="two fields">
              <div class="field">
                <i class="reply icon"></i>
                <a (click)="modifyList = !modifyList;showQ8 = !showQ8">返回修改列表</a>
              </div>
              <div class="field">
                <button class="ui teal right floated  button" type="submit">修改</button>
              </div>
            </div>
          </form>
        </div>
        <!-- 问题9 -->
        <div class="sixteen wide column" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"   *ngIf="showQ9">
          <h3>争议与违约责任</h3>
          <hr>
          <form class="ui form" style="padding:10px 100px;" (ngSubmit)="oToSPerson();modifyList = !modifyList;showQ9 = !showQ9;">
            <div class="field">
              <label>争议解决方案：</label>
              <br>
              <div class="ui checkbox" (click)="dispute =!dispute">
                <input type="checkbox" [(ngModel)]="dispute">
                <label>【方案一】
                  <p>
                    {{disputeVersion1}}
                  </p>
                </label>
              </div>
              <div class="ui checkbox" (click)="dispute =!dispute">
                <input type="checkbox" [(ngModel)]="!dispute">
                <label>【方案二】
                  <p>
                    {{disputeVersion2}}
                  </p>
                </label>
              </div>
            </div>
            <h4 class="ui dividing header"></h4>
            <br>
            <div class="field">
              <label class="ui grid">
                <span class="sixteen wide column">接收方将可能向以下公司人员其披露保密信息：</span>
                <a class="two wide column" (click)="selectAllPerson()">
                  <i class="edit icon"></i>
                  全选
                </a>
                <a class="two wide column" (click)="selectNonePerson()">
                  <i class="edit icon"></i>
                  全不选
                </a>
              </label>
              <br>
              <div class="ui grid">
                <div class="four wide column" *ngFor = "let c of confreciever">
                  <div class="ui checkbox" (click)="c.flag = !c.flag;">
                    <input type="checkbox"  [(ngModel)]="c.flag">
                    <label>{{c.value}}</label>
                  </div>
                </div>
              </div>
            </div>
            <h4 class="ui dividing header"></h4>
            <br>
            <div class="field">
              <label>违约责任方案：</label>
              <br>
              <div class="ui checkbox" (click)="liability =!liability">
                <input type="checkbox" [(ngModel)]="liability">
                <label>【方案一】
                  <p>
                    {{libVersion1}}
                  </p>
                </label>
              </div>
              <div class="ui checkbox" (click)="liability =!liability">
                <input type="checkbox" [(ngModel)]="!liability">
                <label>【方案二】
                  <p>
                    {{libVersion2}}
                  </p>
                </label>
              </div>
            </div>
            <br><br>
            <div class="two fields">
              <div class="field">
                <i class="reply icon"></i>
                <a (click)="modifyList = !modifyList;showQ9 = !showQ9">返回修改列表</a>
              </div>
              <div class="field">
                <button class="ui teal right floated  button" type="submit">修改</button>
              </div>
            </div>
          </form>
        </div>

        <!-- 问题10 -->
        <div class="sixteen wide column" style="min-height: 300px;_height:300px;padding: 30px;margin-bottom: 30px;"  *ngIf="showQ10">
          <h3>请输入双方法定代表人或授权签署人的名字：</h3>
          <hr>
          <form class="ui form" style="padding:10px 200px;" (ngSubmit)="modifyList = !modifyList;showQ10 = !showQ10;updateAgreement();">
            <div class="field">
              <label>甲方法定代表人或授权签署人</label>
              <input placeholder="名字" type="text" [(ngModel)]="agreement.aSiger" required>
            </div>
            <div class="field">
              <label>乙方法定代表人或授权签署人</label>
              <input  placeholder="名字" type="text" [(ngModel)]="agreement.bSiger" required>
            </div>
            <br><br>
            <div class="two fields">
              <div class="field">
                <i class="reply icon"></i>
                <a (click)="modifyList = !modifyList;showQ10 = !showQ10">返回修改列表</a>
              </div>
              <div class="field">
                <button class="ui teal right floated  button" type="submit">修改</button>
              </div>
            </div>
          </form>

        </div>








        <br><br>
      </div>
    </div>

  </div>
</div>
