
<!--侧边栏-->
  <div class="slides">
    <ul class="slideul">
      <li><a href=""><img src="assets/images/slide-01.jpg" alt=""></a></li>
      <li class="kefu" id="cust01">
        <img src="assets/images/slide-02.jpg" alt="">
        <ul class="kefulist"  id="custList">
          <li><a target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?uin=617970899&aty=0&a=0&curl=&ty=1"><i class="user icon"></i>在线客服1号</a></li>
          <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=123456789&Site=qq&Menu=yes"><i class="user icon"></i>在线客服1号</a></li>
          <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=123456789&Site=qq&Menu=yes"><i class="user icon"></i>在线客服1号</a></li>
        </ul>
      </li>
    </ul>
  </div>