*{border:0;margin:0;padding:0;}
body{font-family:'Microsoft Yahei','微软雅黑',Arial,'Hiragino Sans GB','宋体';font-size:14px;	}
ul{list-style:none;}
/* slides */
.slides{position:fixed;right:0;top:75%;z-index: 999}
.slides .slideul>li{position:relative;display:block;width:56px;height:56px;margin-bottom:10px;overflow:visible;}
.slides .slideul>li.kefu{width:66px;padding-left:10px;margin-left:-10px;}
.slides .slideul>li ul.kefulist{position:absolute;left:-133px;top:-30px;padding-right:10px;display:none;}
.slides .slideul>li ul.kefulist li{margin-bottom:10px;}
.slides .slideul>li ul.kefulist li a{display:block;width:140px;height:30px;line-height:30px;background:#a8defe;color:#fff;text-align:center;text-decoration:none;}
.slides .slideul>li ul.kefulist li a:hover{text-decoration:none;}
