<div class="ui segment" style="height: 400px;border: 1px solid grey;padding-top: 100px;background-color:ghostwhite">
  <div class="ui stackable relaxed grid">
    <div class="eight wide right aligned column">
      <a class="button button-3d button-primary button-rounded">
        <i class="large send outline icon"></i>&nbsp;免费法律咨询</a>
    </div>
    <div class="eight wide left aligned column">
      <a class="button button-3d button-primary button-rounded">
        <i class="large send icon"></i>&nbsp;VIP法律咨询</a>
    </div>
  </div>

</div>
