<!-- demo.html -->

<div class="ui  column grid">
    <div class="column">

        <div class="sixteen wide column" style="height: 80px;background-color: #e9e9e5;padding-top: 30px;padding-left: 20px">
            <h2 style="font-weight: bold;">FILE  UPLOAD</h2>
        </div>

    </div>
</div>



<div class="ui three column grid">
    <div class="  column">
        <div class="ui segment">
            <div class="ui top attached label">单个文件上传</div>
            <label class="tag btn is-danger">
                <i class="Browser icon"></i> 选择上传文件
                <input type="file"  [ng-file-select]="options" (onUpload)="handleBasicUpload($event)">
                <img src="assets/images/sign.png">
                <h3>{{textName}}</h3>
            </label>

            <div class="progress">
                <div class="progress-bar" [style.width]="basicProgress + '%'"></div>
                <span class="percent">{{ basicProgress }}%</span>
            </div>
        </div>
    </div>
    <div class="   column">

        <div class="ui segment">
            <div class="ui top attached label">多文件上传</div>
            <label class="tag btn is-danger">
                <i class="Browser icon"></i> 选择上传文件
                <input type="file" multiple [ng-file-select]="options" (onUpload)="handleMultipleUpload($event)">
                <img src="assets/images/double.jpg">
            </label>

            <div class="progress">
                <div class="progress-bar" [style.width]="multipleProgress + '%'"></div>
                <span class="percent">{{ multipleProgress }}%</span>
            </div>
        </div>
    </div>
    <div class= "column">


        <div class="ui segment">
            <div class="ui top attached label">拖动文件上传</div>
            <div class="tag btn is-info" [ng-file-drop]="options" (onUpload)="handleDropUpload($event)">
                <i class="Browser icon"></i>  拖动文件到这里
                <img src="assets/images/drug.JPG">
            </div>

            <div class="progress">
                <div class="progress-bar" [style.width]="dropProgress + '%'"></div>
                <span class="percent">{{ dropProgress }}%</span>
            </div>
        </div>
    </div>
</div>


<div class="ui  column grid">
    <div class="  column">
        <div class="ui segment">

            <div class="ui bottom attached warning message"><i class="warning icon"></i>上传结果展示信息 </div>
            <div class="ui attached segment">
                <p>
                    {{ basicResp | json }}
                </p>
                <p *ngIf="multipleResp.length">
                    {{ multipleResp | json }}
                </p>
                <p *ngIf="dropResp.length">
                    {{ dropResp | json }}
                </p>
            </div>
        </div>
    </div>
</div>



