<navbar-box></navbar-box>
<chat-box></chat-box>
<div class="row" style="min-height: 600px;_height:600px;">
  <!-- end of header -->
  <!-- main -->
  <router-outlet></router-outlet>
  <!-- end of main -->
</div>
<div class="row" style="min-height: 100px;_height:100px;background-color: #000;padding: 40px;color: white;">
  <p style="text-align: center">&copy; Copyright &copy; 2016.ABC All rights reserved.</p>
  <p class="ui horizontal divider header" style="color: white">
    <i class="bar chart icon"></i>
    Specifications
  </p>
</div>

