<navbar-box></navbar-box>
<div id="wrapper">
  <!-- end of header -->
  <!-- main -->
  <router-outlet></router-outlet>
  <!-- end of main -->
</div>
<!-- footer-push -->
<div id="footer-push"></div>
<!-- end of footer-push -->

<!-- end of wrapper -->
<!-- footer -->
<div  id="footer">
  <span class="shadow-bottom"></span>
  <!-- footer-cols -->
  <div class="footer-cols">
    <!-- shell -->
    <div class="shell">
      <div class="col">
        <h3>关于我们</h3>
        <div class="col-cnt">
          <ul>
            <li><a >Lorem lipsum dolor </a></li>
            <li><a >Ame tleo libero dolor</a></li>
            <li><a >Aidpispicing lipsum </a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <h3>服务理念</h3>
        <div class="col-cnt">
          <ul>
            <li><a >Lorem lipsum dolor </a></li>
            <li><a >Ame tleo libero dolor</a></li>
            <li><a >Aidpispicing lipsum </a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <h3>服务产品</h3>
        <div class="col-cnt">
          <ul>
            <li><a >Lorem lipsum dolor </a></li>
            <li><a >Ame tleo libero dolor</a></li>
            <li><a >Aidpispicing lipsum </a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <h3>联系方式</h3>
        <div class="col-cnt">
          <p><strong>电子邮箱:</strong> <a >example@coul.com</a></p>
          <p><strong>客户电话:</strong> 888-888-888</p>
        </div>
        <br><br><br><br><br>
      </div>

      <div class="cl">&nbsp;</div>

    </div>
    <!-- end of shell -->
  </div>
  <!-- end of footer-cols -->
  <div class="footer-bottom">
    <p class="copy">&copy; Copyright &copy; 2016.COUL All rights reserved.</p>
  </div>
</div>
