<router-outlet></router-outlet>

<!-- 聊天悬浮
<chat-window *ngIf="isChatShow" [canClose]="true" (closeParentWindow)="closeParentWindow($event)" style="z-index: 10005;display:none"></chat-window>
<div class="ui Tiny image" style="bottom: 0; right: 0; position: fixed; float: right; margin-left: 10px;background-color: lightgrey;display:none;" >
  <a class="ui mini right corner orange label">
    <h4>{{newMessageNum}}</h4>
  </a>
  <i  *ngIf="!isChatShow" id="talkImage" class="olive massive Comment icon" (click)="chatShow()"
      data-html="<div class='ui mini images'>
            <img class='ui image'src='./assets/images/avatars/male-avatar-1.png'>
            <img class='ui image' src='./assets/images/avatars/female-avatar-2.png'>
            <img class='ui image' src='./assets/images/avatars/male-avatar-2.png'>
            <img class='ui image' src='./assets/images/avatars/female-avatar-4.png'>
            </div>
            <p>客服长期在线，有问题可联系客服</p>"
  >
  -->
  <!--<img *ngIf="!isChatShow" id="talkImage" class="ui Tiny circular image" src="./assets/images/talk.jpg"-->
       <!--(click)="chatShow()"-->
       <!--data-html="<div class='ui mini images'>-->
            <!--<img class='ui image'src='./assets/images/avatars/male-avatar-1.png'>-->
            <!--<img class='ui image' src='./assets/images/avatars/female-avatar-2.png'>-->
            <!--<img class='ui image' src='./assets/images/avatars/male-avatar-2.png'>-->
            <!--<img class='ui image' src='./assets/images/avatars/female-avatar-4.png'>-->
            <!--</div>-->
            <!--<p>客服长期在线，有问题可联系客服</p>"


</div>-->
