<div class="page-content" style="background-color:#ededed;min-height: 600px;_height:600px; ">
  <div class="ui segment">
  <div class="sixteen wide column" style="height: 100px;background-color: #e9e9e5;padding-top: 30px;padding-left: 20px">
    <h2 style="font-weight: bold;">个人中心</h2>
  </div>
  <div class="sixteen wide column" style="height: 50px;padding-top: 25px;padding-left: 20px">
    <h3 style="font-weight: bold;">我的法律咨询</h3>
  </div>
  <div class="ui fluid vertical menu">
    <a class="item">
      <h4 class="ui header" >保密协议</h4>
      <p>一种法律协议，是为了保护各种商业机密，避免信息泄露</p>
    </a>
    <a class="item">
      <h4 class="ui header">网站隐私条款</h4>
      <p>用于网站提供者和网站用户之间的一种隐私协议</p>
    </a>
  </div>

  </div>
</div><!-- /.page-content -->
