<div class="page-content">
  <pageheader-box></pageheader-box>

  <div class="row">
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->
      <alert-box></alert-box>
      <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-7 infobox-container">
          <data-box></data-box>
        </div>
        <div class="vspace-sm"></div>
        <div class="col-sm-5">
          <traffic-box></traffic-box>
        </div><!-- /span -->
      </div><!-- /row -->
      <div class="hr hr32 hr-dotted"></div>

      <div class="row">
        <div class="col-sm-5">
          <popular-domains></popular-domains>
        </div>

        <div class="col-sm-7">
          <salestats-box></salestats-box>
        </div>
      </div>
      <div class="hr hr32 hr-dotted"></div>

      <div class="row">
        <div class="col-sm-6">
          <recent-box></recent-box>
        </div><!-- /span -->
        <div class="col-sm-6">
          <conversation-box></conversation-box>
        </div><!-- /span -->
      </div><!-- /row -->

      <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.page-content -->
