<a class="menu-toggler" id="menu-toggler"  >
  <span class="menu-text"></span>
</a>
<div class="sidebar" id="sidebar">
  <ul class="nav nav-list">
    <li class="active">
      <a (click)="nav('./Inquire')">
        <i class="icon-dashboard"></i>
        <span class="menu-text"> 我的法律咨询</span>
      </a>
    </li>

    <li>
      <a>
        <i class="icon-text-width"></i>
        <span class="menu-text"> 我的法律文件</span>
      </a>
    </li>

    <li>
      <a>
        <i class="icon-list-alt"></i>
        <span class="menu-text">我的服务内容</span>
      </a>
    </li>

    <li>
      <a>
        <i class="icon-calendar"></i>
								<span class="menu-text">我的钱包</span>
      </a>
    </li>
    <li>
      <a   class="dropdown-toggle">
        <i class="icon-file-alt"></i>
								<span class="menu-text">
									我的设置
								</span>
        <b class="arrow icon-angle-down"></b>
      </a>
      <ul class="submenu">
        <li>
          <a>
            <i class="icon-double-angle-right"></i>
            个人用户信息
          </a>
        </li>

        <li>
          <a>
            <i class="icon-double-angle-right"></i>
            安全密码
          </a>
        </li>

        <li>
          <a>
            <i class="icon-double-angle-right"></i>
            待定
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a>
        <i class="icon-picture"></i>
        <span class="menu-text">法律客户人员咨询</span>
      </a>
    </li>
  </ul><!-- /.nav-list -->

  <div class="sidebar-collapse" id="sidebar-collapse">
    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
  </div>
</div>
