<div class="container-fluid">
  <div class="row" style="height: 100px;padding: 40px;background-color: #e9e9e5">
    <div class="col-md-3"><h2>创建法律文档</h2></div>
    <div class="col-md-2 col-md-offset-7" style="text-align: right;">
      <a (click)="nav('./Personal')"><i class="large sign in icon"></i>返回个人中心</a>
    </div>
  </div>

  <div class="row" style="min-height: 400px;_height:400px;padding:20px 10px 10px 10px;background-color: ghostwhite">
      <router-outlet></router-outlet>
  </div>
</div>




