
<br>
<div class="ui internally celled grid" >
  <div class="row" style="padding: 5px 20px;">
    <div class="seven wide column">
      <div class="ui segment">
      <div class="container-fluid">
        <div class="row"  style="height: 800px;padding: 5px">
          <!--基本信息-->
          <div class="ui top attached teal  label">
            <h3 style="color: white;text-align:left" >用户基本信息</h3>
          </div>

            <!--<form  [ngFormModel]="myForm" class="ui form" style="padding: 5px 20px;"  >-->
              <!--<div class="field" [ngClass]="{error:!mobileControl.valid && mobileControl.dirty}">-->
                <!--<label>手机</label>-->
                <!--<input [(ngFormControl)]="mobileControl" placeholder="手机" [(ngModel)]="user.phone"/>-->
                <!--<span style="color: red;" *ngIf = "!mobileControl.valid && mobileControl.dirty">-->
                  <!--<validation-messages [control]="mobileControl"></validation-messages>-->
                <!--</span>-->
              <!--</div>-->
          <form  class="ui form" style="padding: 5px 20px;">
              <div class="field">
                <label>手机  </label>
                <input placeholder="手机" [(ngModel)]="user.phone" type="text">
              </div>

              <div class="field">
                <label>邮箱  </label>
                <input  placeholder="邮箱" [(ngModel)]="user.email" type="text">
              </div>

              <div class="field">
                <label>昵称  </label>
                <input  placeholder="昵称" [(ngModel)]="user.userName" type="text">
              </div>

              <div class="field">
                <label>地址 </label>
                <input  placeholder="地址" [(ngModel)]="user.address" type="text">
              </div>
              <div class="field">
                <label>状态  </label>
                <select class="ui dropdown" [(ngModel)]="user.status" >
                  <option value="1">有效</option>
                  <option value="0">无效</option>
                </select>
              </div>

              <div class="field">
                <label>创建时间  </label>
                <input type="text" value="2015-02-15" id="datetimepicker" [(ngModel)]="user.createTime" class="am-form-field">
                <!--<input [(ngModel)]="userBase.birthday" placeholder="生日" type="text" id="inputDate">-->
              </div>

              <div class="field">
                <label>备注  </label>
                <input  placeholder="备注" [(ngModel)]="user.remark" type="text">
              </div>

            <!--<br><br>-->
            <div class="ui teal labeled icon submit button" tabindex="0"  style="text-align: center"><i class="check circle outline icon"></i>更新基本信息</div>
          </form>
        </div>
      </div>
        </div>
    </div>
    <div class="one wide column"></div>

    <div class="seven wide column">
      <div class="ui segment">
      <div class="row"  style="height: 800px;">
      <div class="ui top attached olive label">
        <h3 style="color: white;text-align:left" >用户其他信息</h3>
      </div>
      <form class="ui form" style="padding: 5px 20px;" >
      <div class="ui one column grid">
        <div class="column">
            <a class="ui green ribbon label">用户验证信息</a>
            <form class="ui form" >
              <div class="field">
                <label>手机验证</label>
                <input placeholder="手机验证"  type="text">
              </div>
              <div class="field">
                <label>身份证验证  </label>
                <input  placeholder="身份证验证"  type="text">
              </div>
              <!--<div class="field">-->
                <!--<label>银行卡验证 </label>-->
                <!--<input  placeholder="银行卡验证"  type="text">-->
              <!--</div>-->
            </form>
            <br>
            <a class="ui blue ribbon label">用户公司信息</a>
            <form class="ui form" >
              <div class="field">
                <label>公司名称</label>
                <input placeholder="公司名称" [(ngModel)]="company.companyName" type="text">
              </div>
              <div class="field">
                <label>公司规模  </label>
                <input  placeholder="公司规模" [(ngModel)]="company.companyScope" type="text">
              </div>
              <div class="field">
                <label>公司地址 </label>
                <input  placeholder="公司地址" [(ngModel)]="company.companyAddress" type="text">
              </div>
            </form>
        </div>
      </div>
      </form>
        </div>
        </div>
    </div>
  </div>
</div>
