
<br>

<!-- 步骤 -->
<div class="ui top attached  steps"  *ngIf = "!showList">
  <div class="step" [ngClass]="step1" (click)="stepClick('step1')">
    <div class="content">
      <div>基本信息</div>
    </div>
  </div>
  <div class="step" [ngClass]="step2" (click)="stepClick('step2')">
    <div class="content">
      <div>验证信息</div>
    </div>
  </div>
  <div class="step" [ngClass]="step3" (click)="stepClick('step3')">
    <div class="content">
      <div>组织信息</div>
    </div>
  </div>
</div>

<div class="ui attached segment" *ngIf="showbase">
        <div class="ui segment">
          <div class="container-fluid">
            <div class="row"  style="height: 400px;padding: 5px">
              <!--基本信息-->
              <div class="ui top attached teal  label">
                <h3 style="color: white;text-align:left" >用户基本信息</h3>
              </div>

              <form  [ngFormModel]="myForm" class="ui form" style="padding: 5px 20px;" (ngSubmit)="updataUser()"  >

                <div class="ui internally celled grid" >
                  <div class="row" style="padding: 5px 20px;">
                    <div class="ten wide column">
                      <div class="two fields">
                        <div class="field">
                          <label>昵称  </label>
                          <input  placeholder="昵称" [(ngModel)]="user.userName" type="text">
                        </div>

                        <div class="field">
                          <label>地址 </label>
                          <input  placeholder="地址" [(ngModel)]="user.address" type="text">
                        </div>
                      </div>
                      <div class="two fields">
                        <div class="field">
                          <label>状态  </label>
                          <select class="ui dropdown" [(ngModel)]="user.status" >
                            <option value="1">有效</option>
                            <option value="0">无效</option>
                          </select>
                        </div>

                        <div class="field">
                          <label>创建时间  </label>
                          <input type="text" value="2015-02-15" id="datetimepicker" [(ngModel)]="user.createTime" class="am-form-field">
                          <!--<input [(ngModel)]="userBase.birthday" placeholder="生日" type="text" id="inputDate">-->
                        </div>
                      </div>
                      <div class="two fields">
                        <div class="field">
                          <label>备注  </label>
                          <input  placeholder="备注" [(ngModel)]="user.remark" type="text">
                        </div>
                      </div>
                      <button type="submit" class="ui teal labeled icon submit button" >更新基本信息<i class="check circle outline icon"></i></button>
                    </div>
                    <div class="one wide column">
                      <div class="ui vertical divider"></div>
                    </div>

                    <div class="five wide column">
                      <div class="ui segment">
                      <div class="ui top attached blue  label">
                        <h3 style="color: white;text-align:left" >此处为必填项</h3>
                      </div>
                        <br>
                      <div class="field" [ngClass]="{error:!mobileControl.valid && mobileControl.dirty}">
                        <label>手机</label>
                        <div class="ui left labeled icon input">
                          <input [(ngFormControl)]="mobileControl" placeholder="手机" [(ngModel)]="user.phone" required />
                          <div class="ui corner label">
                            <i class="icon red asterisk"></i>
                          </div>
                        </div>
                        <span style="color: red;" *ngIf = "!mobileControl.valid && mobileControl.dirty">
                          <validation-messages [control]="mobileControl"></validation-messages>
                        </span>
                      </div>
                        <div class="field" [ngClass]="{error:!emailControl.valid && emailControl.dirty}">
                          <label>邮箱</label>
                          <div class="ui left labeled icon input">
                            <input [(ngFormControl)]="emailControl" placeholder="邮箱"  [(ngModel)]="user.email" required />
                            <div class="ui corner label">
                              <i class="icon red asterisk"></i>
                            </div>
                          </div>
                        <span style="color: red;" *ngIf = "!emailControl.valid && emailControl.dirty">
                          <validation-messages [control]="emailControl"></validation-messages>
                        </span>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--<br><br>-->

              </form>
            </div>
          </div>
        </div>
      </div>

<div class="ui attached segment" *ngIf="showvalidate">
  <div class="ui segment">
    <div class="container-fluid">
      <div class="row"  style="height: 400px;padding: 5px">
        <!--基本信息-->
        <div class="ui top attached teal  label">
          <h3 style="color: white;text-align:left" >用户验证信息</h3>
        </div>

        <form  class="ui form" style="padding: 5px 20px;" >
          <div class="three fields">
          <div class="field">
            <label>手机验证</label>
            <input placeholder="手机验证"  type="text">
          </div>
          <div class="field">
            <label>身份证验证  </label>
            <input  placeholder="身份证验证"  type="text">
          </div>
          <!--<div class="field">-->
          <!--<label>银行卡验证 </label>-->
          <!--<input  placeholder="银行卡验证"  type="text">-->
          <!--</div>-->
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="ui attached segment" *ngIf="showcompany">
  <div class="ui segment">
    <div class="container-fluid">
      <div class="row"  style="height: 400px;padding: 5px">
        <!--基本信息-->
        <div class="ui top attached teal  label">
          <h3 style="color: white;text-align:left" >用户组织信息</h3>
        </div>

        <form  class="ui form" style="padding: 5px 20px;" >
          <div class="three fields">
            <div class="field">
              <label>公司名称</label>
              <input placeholder="公司名称" [(ngModel)]="company.companyName" type="text">
            </div>
            <div class="field">
              <label>公司规模  </label>
              <input  placeholder="公司规模" [(ngModel)]="company.companyScope" type="text">
            </div>
            <div class="field">
              <label>公司地址 </label>
              <input  placeholder="公司地址" [(ngModel)]="company.companyAddress" type="text">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


