
<header-box></header-box>
<div class="main">
  <span class="shadow-top"></span>
  <!-- shell -->
  <div class="shell">
    <div class="container">
      <!-- testimonial -->
      <section class="testimonial">
        <h2>法律咨询</h2>
        <p><strong>“</strong>我们将会为您提供最专业最贴心的法律咨询。<strong>”</strong></p>
      </section>
      <!-- testimonial -->

      <section class="blog">
        <!-- content -->
        <div class="content">
          <img src="assets/images/i-img-1.png" alt=""  class="alignleft"/>
          <div class="cnt">
            <h3>为您排忧解惑    提供行动建议</h3>
            <p>描述您的困扰，剩下的事情交给我们</p>
            <ul>
              <li><a >说明事实，提出问题 </a></li>
              <li><a >专业的法律分析，获得解答和建议</a></li>
              <li><a >搞定烦恼，一身轻松 </a></li>
            </ul>
            <div class="blue-btn" style="margin:10px;">免费咨询</div>
          </div>
        </div>
        <!-- end of content -->

        <!-- sidebar -->
        <aside class="sidebar">
          <!-- widget -->
          <div class="widget">
            <h3>专享法律顾问就在您身边</h3>
            <ul>
              <li>
                <div class="img-holder">
                  <a ><img src="assets/images/post-img.png" alt="" /></a>
                </div>

                <p style="padding-top:15px;"><a>选择您的所在地<em class="mobile"> 选择您的所在地</em> </a><span>05.14.2016</span> </p>
              </li>
              <li>
                <div class="img-holder">
                  <a ><img src="assets/images/post-img2.png" alt="" /></a>
                </div>
                <p style="padding-top:15px;"><a>选择您要咨询的法律业务<em class="mobile"> 选择您要咨询的法律业务</em> </a><span>05.14.2016</span></p>
              </li>
              <li>
                <div class="img-holder">
                  <a ><img src="assets/images/post-img3.png" alt="" /></a>
                </div>
                <p>
                <p style="padding-top:15px;"><a>完成支付后立即与律师通话<em class="mobile"> 完成支付后立即与律师通话</em> </a><span>05.14.2016</span> </p>
              </li>
            </ul>
            <div class="cl">&nbsp;</div>
          </div>
          <a class="blue-btn">VIP咨询</a>
          <!-- end of widget -->
        </aside>
        <!-- end of sidebar -->
        <div class="cl">&nbsp;</div>
      </section>
      <section class="testimonial">
        <h2>首创律师竞标  最大化您的权益</h2>
        <p><a class="blue-btn" style="margin:5px auto;">找律师打官司</a></p>
      </section>

    </div>
    <!-- end of shell -->
  </div>
  <!-- end of container -->
</div>
