
<div class="row" style="background-color: #F5F5F5;padding-left:6%; height: 40px;">
  <div class="ui breadcrumb">
    <a class="section">主页</a>
    <i class="right angle icon divider"></i>
    <a class="section">模块管理</a>
    <i class="right angle icon divider"></i>
    <div class="active section">模板管理</div>
  </div>
</div>

<div  class="row" style=" margin-left: 5%; margin-right: 1%; padding-top: 30px;">

  <div *ngIf="tableShow" class="ui fluid container">

    <form class="ui form" *ngIf="tableShow">
      <div class="fields">
        <div class="three wide field">
          <div class="ui icon input">
            <input placeholder="文档名称..." type="text" [(ngModel)]="nameSearch">
            <i class="search link icon" (click)="filter()"></i>
          </div>
        </div>

        <div class="three wide field">
          <div class="ui  icon input">
            <input placeholder="文档路径..." type="text" [(ngModel)]="pathSearch">
            <i class="search link icon" (click)="filter()"></i>
          </div>
        </div>
        <div class="ten wide field">
          <button class="right floated ui teal icon button" (click)="back()"><i class="reply icon"></i>返回</button>
        </div>
      </div>
    </form>

    <table class="ui teal celled table" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10"
           (fpage) = "getPageData($event)">
      <thead>
      <tr>
        <th>          文档名称          </th>
        <th>          文档路径          </th>
        <th>          文档标题          </th>
        <th>          文档内容          </th>
        <th>          创建时间          </th>
        <th>          文档类型ID        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of mf.data.data">
        <td>{{item.resourceName}}</td>
        <td>{{item.resourcePath}}</td>
        <td>{{item.resourceTitle}}</td>
        <td>{{item.resouceContext}}</td>
        <td>{{item.createTime}}</td>
        <td>{{item.docTypeId}}</td>
      </tr>
      </tbody>
      <tfoot *ngIf="mf.data.page>0">
      <tr>
        <th colspan="6">
          <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
        </th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
