<div class="ui segment" style="padding-bottom:50px;border: 1px solid grey;padding-top: 50px;">
      <div class="ui stackable relaxed grid">
        <div class="five wide right aligned column">
            <div class="ui steps"  style="height: 180px;width: 300px;" (click)="nav('./Advice')">
              <a class="active step">
                <i class="payment icon"></i>
                <div class="content">
                  <div class="title">我的法律咨询</div>
                </div>
              </a>
            </div>
        </div>
        <div class="five wide right aligned column">
          <div class="ui steps"  style="height: 180px;width: 300px;" (click)="nav('./NewFile')">
            <a class="active step">
              <i class="payment icon"></i>
              <div class="content">
                <div class="title">创建法律文档</div>
              </div>
            </a>
          </div>
        </div>
        <div class="five wide right aligned column">
          <div class="ui steps"  style="height: 180px;width: 300px;" (click)="nav('./File')">
            <a class="active step">
              <i class="payment icon"></i>
              <div class="content">
                <div class="title">我的法律资料</div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="ui stackable relaxed grid">
        <div class="five wide right aligned column">
          <div class="ui steps"  style="height: 180px;width: 300px;">
            <a class="active step" (click)="test()">
              <i class="payment icon"></i>
              <div class="content">
                <div class="title">我的企业商标</div>
              </div>
            </a>
          </div>
        </div>
        <div class="five wide right aligned column">
          <div class="ui steps"  style="height: 180px;width: 300px;">
            <a class="active step">
              <i class="payment icon"></i>
              <div class="content">
                <div class="title">法律文件上传</div>
              </div>
            </a>
          </div>
        </div>
        <div class="five wide right aligned column">
          <div class="ui steps"  style="height: 180px;width: 300px;" (click)="nav('./PersonalSet')">
            <a class="active step">
              <i class="payment icon"></i>
              <div class="content">
                <div class="title">我的设置</div>
              </div>
            </a>
          </div>
        </div>
      </div>
  </div>
