<div class="ui segment" style="padding-bottom:50px;padding:4% 8%;min-height: 600px;_height:600px;">
      <div class="ui three column stackable grid">
        <div class="column">
            <div class="ui steps"  style="height: 220px;width: 100%;" (click)="nav('./Advice')">
              <a class="active step">

                <div class="content">
                  <div class="row" style="text-align: center;"><i class="huge grey phone icon"></i></div>
                  <br>
                  <div class="row"><div class="title" style="font-size: 16px;color: black">我的法律咨询</div></div>

                </div>
              </a>
            </div>
        </div>
        <div class="column">
          <div class="ui steps"  style="height: 220px;width: 100%;" (click)="nav('./NewFile')">
            <a class="active step">

              <div class="content">
                <div class="row" style="text-align: center;"><i class="huge grey file pdf outline icon"></i></div>
                <br>
                <div class="row"><div class="title" style="font-size: 16px;color: black">创建法律文档</div></div>
              </div>
            </a>
          </div>
        </div>
        <div class="column">
          <div class="ui steps"  style="height: 220px;width: 100%;" (click)="nav('./File')">
            <a class="active step">
              <div class="content">
                <div class="row" style="text-align: center;"><i class="huge grey travel icon"></i></div>
                <br>
                <div class="row"><div class="title" style="font-size: 16px;color: black">我的文件管理</div></div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="ui three column stackable grid">
        <div class="column">
          <div class="ui fluid steps"  style="height: 220px;width: 100%;">
            <a class="active step" (click)="test()">
              <div class="content">
                <div class="row" style="text-align: center;"><i class="huge grey diamond icon"></i></div>
                <br>
                <div class="row"><div class="title" style="font-size: 16px;color: black">我的企业商标</div></div>
              </div>
            </a>
          </div>
        </div>
        <div class="column">
          <div class="ui steps"  style="height: 220px;width: 100%;">
            <a class="active step">
              <div class="content">
                <div class="row" style="text-align: center;"><i class="huge grey cloud upload icon"></i></div>
                <br>
                <div class="row"><div class="title" style="font-size: 16px;color: black">法律文件上传</div></div>
              </div>
            </a>
          </div>
        </div>
        <div class="column">
          <div class="ui steps"  style="height: 220px;width: 100%;" (click)="nav('./PersonalSet')">
            <a class="active step">
              <div class="content">
                <div class="row" style="text-align: center;"><i class="huge grey setting icon"></i></div>
                <br>
                <div class="row"><div class="title" style="font-size: 16px;color: black">我的设置</div></div>
              </div>
            </a>
          </div>
        </div>
      </div>




  </div>
