#top-menu{
  z-index: 10002;
}
#mobile-menu .item,#top-menu .item{
  text-shadow: rgba(255,255,255,0.8) 0px 1px 0px;
  color: white;
}

#top-menu,#mobile-menu{
  background-color: #00B38A;
}




.top-nav .shell { position: relative; }
.top-nav { background: #b6dde7; height: 50px;  } /*height: 59px;*/
.top-nav ul { list-style: none; list-style-position: outside; font-family: 'Ubuntu', sans-serif,LiSu; font-size: 16px; text-transform: uppercase; line-height: 58px; font-weight: 700;  }
.top-nav ul li { float: left; padding: 0 0 0 0; border-right: 1px solid #dbeef3;  }
.top-nav ul li.active  { border-right: 0;  }
.top-nav ul li a { color: #239cc5; float: left; padding: 0 34px; text-shadow: rgba(255,255,255,0.8) 0px 1px 0px; }
.top-nav ul li span { float: left; }
.top-nav ul li a:hover
.top-nav ul li.active a { color: #00719d; text-decoration: none; background: #c8e6ed; }
.top-nav ul li.active a { background: #c8e6ed url(assets/images/active-nav-border.png) no-repeat right 0; }
.top-nav ul li.active span { background: url(assets/images/active-nav-border.png) no-repeat 0 0; padding-left: 2px; }
.top-nav span.top-nav-shadow { background: url(assets/images/top-nav-shadow.png) no-repeat 0 0; width: 959px; height: 7px; position: absolute; top: 59px; left: 50%; margin-left: -480px; }
.top-nav a.nav-btn { display: none; }



@media all and (max-width:765px)
{
  #top-menu{ display:none }
  #mobile-menu{ display:inline-block }

}

