<div class="ui stackable grid" >
  <div class="sixteen wide column" style="height: 400px;background-color: #00B38A;padding-top: 100px;padding-left: 100px;" id="mobileHide">
    <h1 style="color: white">
      <i class="large white trophy icon"></i>
      找法律网</h1>
  </div>
  <div class="five wide column"></div>
  <div class="seven wide column"  style="margin-top: -300px;">
    <!-- 菜单 -->
    <h2 style="text-align: center;font-weight: bolder;color: white" (click)="navSelf('./UserLogin')">普通用户登录</h2>
    <div style="text-align: right">
      <a  href="index.html" style="color: white;"><i class="share icon"></i>返回首页</a>
    </div>

    <br>
    <!--<div class="ui top attached tabular menu">-->
      <!--<a class="active item" (click)="navSelf('./UserLogin')">-->
        <!--<i class="large user icon"></i> 普通用户登录-->
      <!--</a>-->
      <!--&lt;!&ndash;<a class="item">&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="large user icon"></i> 律师登陆&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="item" (click)="navSelf('./AdminLogin')">&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="large user icon"></i> 管理员登陆&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->
      <!--<a class="ui right item" href="index.html">-->
        <!--<i class="home icon"></i> 返回首页-->
      <!--</a>-->
    <!--</div>-->
    <!-- 页面 -->
    <router-outlet></router-outlet>
  </div>
  <div class="four wide column"></div>
  <div class="sixteen wide column">
    <span class="ui horizontal divider header">
      <i class="bar chart icon"></i>
      Specifications
    </span>
  </div>
</div>

