<header  id="header">
  <!-- shell -->
  <div class="shell">
    <div class="header-inner">
      <!-- header-cnt -->
      <div class="header-cnt">
        <h1 id="logo"><a >找律师网</a></h1>
        <p>
          <span>携手中国权威法律专家打造的法律服务平台</span>
        </p>
        <a class="blue-btn" (click)="nav('Signup')">我要注册</a>
      </div>
      <!-- end of header-cnt -->
      <!-- slider -->
      <div class="slider-holder">
        <div class="flexslider">
          <ul class="slides">
            <li><img src="assets/images/slide-img.png" alt="" /></li>

            <li><img src="assets/images/bg-1.jpg" alt="" /></li>

            <li><img src="assets/images/slide-img.png" alt="" /></li>

            <li><img src="assets/images/bg-2.jpg" alt="" /></li>

            <li><img src="assets/images/bg-3.jpg" alt="" /></li>

          </ul>

        </div>
      </div>
      <!-- end of slider -->
      <div class="cl">&nbsp;</div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
  <!-- end of shell -->
</header>
